<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#">Activities</a></li>
            <li><a href="#!/rsa-case-pkg/new-activity">ASP Rejected</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="dataTable-content--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="dataTable--left_wrapper">
                            <h2 class="dataTable-title customForm-title">ASP Rejected</h2>
                        </div>
                    </div>
                </div>
                <form id="ticket_verify_form" enctype="multipart-formdata">
                    <div class="customTab-content">
                        <div class="customForm-wrapper">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label>Case Number<sup class="req">*</sup></label>
                                        <input type="text" ng-model="$ctrl.number" name="number" class="form-control" placeholder="Enter Case Number" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary customForm-btn" id="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>