<br />
<div class="viewData-wrapper">
    <form id="billing_form" method="post">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="  {{ ++$index ==1 ? 'active' : ''}}">
                <a href="#info-{{$index}}" class="blue-btnn" aria-controls="home" role="tab" data-toggle="tab">
                    {{$ctrl.data.service}}
                </a>
                <input type="text" name="bo_info" class="hide services_ids" data-count="{{$index}}" value="">
            </li>
        </ul>
        <div class="tab-content boxed-tab">
            <div role="tabpanel" class="tab-pane active" id="info-{{$index}}">
                <div class="viewData-form--row">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <ul class="rate-card-info-list">
                                <li class="rate-card-info-list-item">Finance Status : <span class="orange-txt"> {{$ctrl.data.asp_status}}</span></li>
                            </ul>
                            <input type="hidden" name="bo_info[{{$index}}][is_payment_eligible]" class="payment_eligible" value="1">
                        </div>
                    </div>
                </div>
                <div class="pricing-table-data">
                    <!-- @if(!empty($approved_view)) -->
                    <!-- <price-comparison data="$ctrl.data"></price-comparison> -->
                    <!-- @else -->
                    <h3 class=" mb-20 mt-0">Data Comparision</h3>
                    <table class="table table-responsive table-bordered table-wide style-normal">
                        <thead>
                            <tr>
                                <th style="width:50%">Title</th>
                                <th style="text-align:right;width:15%" ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">CC Data</th>
                                <th style="text-align:right;width:15%" ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')">ASP Data</th>
                                <th style="text-align:right;width:20%">BO Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Service</th>
                                <td style="text-align:right" ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">
                                    {{$ctrl.data.cc_service_type}}
                                </td>
                                <td style="text-align:right" ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')" ng-class="{'alert-danger': $ctrl.data.verification == 1 && !$ctrl.data.is_service_type_eligible }">
                                    {{$ctrl.data.asp_service_type}}
                                </td>
                                <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))" ng-class="{'caseDarkTurquoiseBgColor': $ctrl.data.verification == 1 && $ctrl.data.service_type_changed_on_level == 1, 'caseDarkYellowBgColor': $ctrl.data.verification == 1 && $ctrl.data.service_type_changed_on_level == 3}">
                                    {{$ctrl.data.bo_service_type}}
                                </td>
                                <td ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)" ng-class="{'caseDarkTurquoiseBgColor': $ctrl.data.verification == 1 && $ctrl.data.service_type_changed_on_level == 1, 'caseDarkYellowBgColor': $ctrl.data.verification == 1 && $ctrl.data.service_type_changed_on_level == 3}">
                                    <md-select ng-model="$ctrl.data.boServiceTypeId" ng-change="getServiceTypeRateCardDetail()" aria-label="Select Service">
                                        <md-option ng-repeat="val in $ctrl.data.serviceTypes" ng-value="val.id">
                                            {{ val.name }}
                                        </md-option>
                                    </md-select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span>KM Travelled</span>
                                        <a type="button" href="{{$ctrl.data.asp_km_travelled_map_url}}" target="_blank" style="padding: 4px 12px;gap: 8px;" class="btn btn-bordered d-flex align-items-center">
                                            <img src="./public/images/loaction-blue.svg" class="img-fluid" />
                                            <span>View Map</span>
                                        </a>
                                    </div>
                                </th>
                                <td style="text-align:right" ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">
                                    {{$ctrl.data.cc_total_km}}
                                </td>
                                <td style="text-align:right" class="asp_value" ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')" ng-class="{'alert-danger': $ctrl.data.verification == 1 && !$ctrl.data.is_km_travelled_eligible }">
                                    {{$ctrl.data.asp_km_travelled}}
                                </td>
                                <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))" style="text-align:right" ng-class="{'caseDarkTurquoiseBgColor': $ctrl.data.verification == 1 && $ctrl.data.km_changed_on_level == 1, 'caseDarkYellowBgColor': $ctrl.data.verification == 1 && $ctrl.data.km_changed_on_level == 3}">
                                    {{$ctrl.data.bo_km_travelled}}
                                </td>
                                <td ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)" style="text-align:right" ng-class="{'caseDarkTurquoiseBgColor': $ctrl.data.verification == 1 && $ctrl.data.km_changed_on_level == 1, 'caseDarkYellowBgColor': $ctrl.data.verification == 1 && $ctrl.data.km_changed_on_level == 3}">
                                    <input style="text-align:right" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="text" name="bo_km_travelled" ng-model="$ctrl.data.raw_bo_km_travelled" value="{{$ctrl.data.raw_bo_km_travelled}}" class="km_value" ng-keyup="calculate()"><br>
                                    <span class="color-red" ng-show="$ctrl.data.raw_bo_km_travelled !== 0 && $ctrl.data.raw_bo_km_travelled === ''">
                                        KM Travelled is required
                                    </span>
                                    <span class="color-red" ng-show="$ctrl.data.raw_bo_km_travelled !== '' && $ctrl.data.raw_bo_km_travelled <= 0">
                                        KM Travelled should be greater than zero
                                    </span>
                                    <span class="color-red" ng-show="$ctrl.show_km == 1">
                                        Enter value less than ASP value
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a class="btn btn-default btn-xs btn-info-icon accordion-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="collapse" data-target="#other_charges_split_panel" ng-show="$ctrl.data.eligibleForOthersplitupCharges"> <i class="fa fa-plus-circle"></i></a>
                                    Charges Not Collected From Customer
                                </th>
                                <td style="text-align:right" ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">
                                    {{$ctrl.data.cc_not_collected_amount}}
                                </td>
                                <td style="text-align:right" ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')" ng-class="{'alert-danger': $ctrl.data.verification == 1 && !$ctrl.data.is_not_collected_eligible }">
                                    {{$ctrl.data.asp_not_collected}}
                                </td>
                                <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))" style="text-align:right" ng-class="{'caseDarkTurquoiseBgColor': $ctrl.data.verification == 1 && $ctrl.data.not_collected_amount_changed_on_level == 1, 'caseDarkYellowBgColor': $ctrl.data.verification == 1 && $ctrl.data.not_collected_amount_changed_on_level == 3}">
                                    {{$ctrl.data.bo_not_collected}}
                                </td>
                                <td ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)" style="text-align:right" ng-class="{'caseDarkTurquoiseBgColor': $ctrl.data.verification == 1 && $ctrl.data.not_collected_amount_changed_on_level == 1, 'caseDarkYellowBgColor': $ctrl.data.verification == 1 && $ctrl.data.not_collected_amount_changed_on_level == 3}">
                                    <span ng-if="$ctrl.data.eligibleForOthersplitupCharges">
                                        {{$ctrl.data.raw_bo_not_collected}}
                                    </span>
                                    <input ng-if="!$ctrl.data.eligibleForOthersplitupCharges" type="text" name="bo_not_collected" ng-model="$ctrl.data.raw_bo_not_collected" class="non_collected_amount" value="{{$ctrl.data.raw_bo_not_collected}}" ng-keyup="calculate()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" style="text-align:right;">
                                    <input type="hidden" ng-model="$ctrl.data.raw_asp_not_collected" class="other_value" value="{{$ctrl.data.raw_asp_not_collected}}"><br>
                                    <span class="color-red" ng-show="$ctrl.data.raw_bo_not_collected !== 0 && $ctrl.data.raw_bo_not_collected === ''">
                                        Charges not collected is required
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse" id="other_charges_split_panel">
                                        <table class="table table-striped" style="margin-bottom:0px">
                                            <thead>
                                                <tr>
                                                    <th style="width:50%;padding: 0px;border-bottom-width: 0px;"></th>
                                                    <th style="width:15%;padding:0px"></th>
                                                    <th style="width:15%; padding:0px"></th>
                                                    <th style="width:20%; padding:0px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Border Charges</th>
                                                    <td style="text-align:right">
                                                        <span ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">
                                                            {{$ctrl.data.border_charges}}
                                                        </span>
                                                    </td>
                                                    <td style="text-align:right">
                                                        <span ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')">
                                                            {{$ctrl.data.asp_border_charges}}
                                                        </span>
                                                    </td>
                                                    <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))" style="text-align:right">
                                                        {{$ctrl.data.bo_border_charges}}
                                                    </td>
                                                    <td ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)" style="text-align:right">
                                                        <input style="text-align:right" type="text" name="bo_border_charges" ng-model="$ctrl.data.raw_bo_border_charges" class="non_collected_amount" value="{{$ctrl.data.raw_bo_border_charges}}" ng-keyup="calculate()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                        <input type="hidden" ng-model="$ctrl.data.raw_asp_border_charges" class="other_value" value="{{$ctrl.data.raw_asp_border_charges}}"><br>
                                                        <span class="color-red" ng-show="$ctrl.data.raw_bo_border_charges !== 0 && $ctrl.data.raw_bo_border_charges === ''">
                                                            Border Charges is required
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Green Tax Charges</th>
                                                    <td style="text-align:right">
                                                        <span ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">
                                                            {{$ctrl.data.green_tax_charges}}
                                                        </span>
                                                    </td>
                                                    <td style="text-align:right">
                                                        <span ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')">
                                                            {{$ctrl.data.asp_green_tax_charges}}
                                                        </span>
                                                    </td>
                                                    <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))" style="text-align:right">
                                                        {{$ctrl.data.bo_green_tax_charges}}
                                                    </td>
                                                    <td ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)" style="text-align:right">
                                                        <input style="text-align:right" type="text" name="bo_green_tax_charges" ng-model="$ctrl.data.raw_bo_green_tax_charges" class="non_collected_amount" value="{{$ctrl.data.raw_bo_green_tax_charges}}" ng-keyup="calculate()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                        <input type="hidden" ng-model="$ctrl.data.raw_asp_green_tax_charges" class="other_value" value="{{$ctrl.data.raw_asp_green_tax_charges}}"><br>
                                                        <span class="color-red" ng-show="$ctrl.data.raw_bo_green_tax_charges !== 0 && $ctrl.data.raw_bo_green_tax_charges === ''">
                                                            Green Tax Charges is required
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Toll Charges</th>
                                                    <td style="text-align:right">
                                                        <span ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">
                                                            {{$ctrl.data.toll_charges}}
                                                        </span>
                                                    </td>
                                                    <td style="text-align:right">
                                                        <span ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')">
                                                            {{$ctrl.data.asp_toll_charges}}
                                                        </span>
                                                    </td>
                                                    <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))" style="text-align:right">
                                                        {{$ctrl.data.bo_toll_charges}}
                                                    </td>
                                                    <td ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)" style="text-align:right">
                                                        <input style="text-align:right" type="text" name="bo_toll_charges" ng-model="$ctrl.data.raw_bo_toll_charges" class="non_collected_amount" value="{{$ctrl.data.raw_bo_toll_charges}}" ng-keyup="calculate()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                        <input type="hidden" ng-model="$ctrl.data.raw_asp_toll_charges" class="other_value" value="{{$ctrl.data.raw_asp_toll_charges}}"><br>
                                                        <span class="color-red" ng-show="$ctrl.data.raw_bo_toll_charges !== 0 && $ctrl.data.raw_bo_toll_charges === ''">
                                                            Toll Charges is required
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Eatable Item Charges</th>
                                                    <td style="text-align:right">
                                                        <span ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">
                                                            {{$ctrl.data.eatable_items_charges}}
                                                        </span>
                                                    </td>
                                                    <td style="text-align:right">
                                                        <span ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')">
                                                            {{$ctrl.data.asp_eatable_items_charges}}
                                                        </span>
                                                    </td>
                                                    <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))" style="text-align:right">
                                                        {{$ctrl.data.bo_eatable_items_charges}}
                                                    </td>
                                                    <td ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)" style="text-align:right">
                                                        <input style="text-align:right" type="text" name="bo_eatable_items_charges" ng-model="$ctrl.data.raw_bo_eatable_items_charges" class="non_collected_amount" value="{{$ctrl.data.raw_bo_eatable_items_charges}}" ng-keyup="calculate()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                        <input type="hidden" ng-model="$ctrl.data.raw_asp_eatable_items_charges" class="other_value" value="{{$ctrl.data.raw_asp_eatable_items_charges}}"><br>
                                                        <span class="color-red" ng-show="$ctrl.data.raw_bo_eatable_items_charges !== 0 && $ctrl.data.raw_bo_eatable_items_charges === ''">
                                                            Eatable Items Charges is required
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Fuel Charges</th>
                                                    <td style="text-align:right">
                                                        <span ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">
                                                            {{$ctrl.data.fuel_charges}}
                                                        </span>
                                                    </td>
                                                    <td style="text-align:right">
                                                        <span ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')">
                                                            {{$ctrl.data.asp_fuel_charges}}
                                                        </span>
                                                    </td>
                                                    <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))" style="text-align:right">
                                                        {{$ctrl.data.bo_fuel_charges}}
                                                    </td>
                                                    <td ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)" style="text-align:right">
                                                        <input style="text-align:right" type="text" name="bo_fuel_charges" ng-model="$ctrl.data.raw_bo_fuel_charges" class="non_collected_amount" value="{{$ctrl.data.raw_bo_fuel_charges}}" ng-keyup="calculate()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                        <input type="hidden" ng-model="$ctrl.data.raw_asp_fuel_charges" class="other_value" value="{{$ctrl.data.raw_asp_fuel_charges}}"><br>
                                                        <span class="color-red" ng-show="$ctrl.data.raw_bo_fuel_charges !== 0 && $ctrl.data.raw_bo_fuel_charges === ''">
                                                            Fuel Charges is required
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Charges Collected From Customer </th>
                                <td style="text-align:right" ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">
                                    {{$ctrl.data.cc_colleced_amount}}
                                </td>
                                <td style="text-align:right" ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')" ng-class="{'alert-danger': $ctrl.data.verification == 1 && !$ctrl.data.is_collected_eligible }">
                                    {{$ctrl.data.asp_collected}}
                                </td>
                                <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))" style="text-align:right" ng-class="{'caseDarkTurquoiseBgColor': $ctrl.data.verification == 1 && $ctrl.data.collected_amount_changed_on_level == 1, 'caseDarkYellowBgColor': $ctrl.data.verification == 1 && $ctrl.data.collected_amount_changed_on_level == 3}">
                                    {{$ctrl.data.bo_collected}}
                                </td>
                                <td ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)" style="text-align:right" ng-class="{'caseDarkTurquoiseBgColor': $ctrl.data.verification == 1 && $ctrl.data.collected_amount_changed_on_level == 1, 'caseDarkYellowBgColor': $ctrl.data.verification == 1 && $ctrl.data.collected_amount_changed_on_level == 3}">
                                    <input style="text-align:right" type="text" name="bo_collected" ng-model="$ctrl.data.raw_bo_collected" class="collected_amount" value="{{$ctrl.data.raw_bo_collected}}" ng-keyup="calculate()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    <input type="hidden" ng-model="$ctrl.data.raw_asp_collected" class="collected_value" value="{{$ctrl.data.raw_asp_collected}}"><br>
                                    <span class="color-red" ng-show="$ctrl.data.raw_bo_collected !== 0 && $ctrl.data.raw_bo_collected === ''">
                                        Charges collected is required
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Waiting Time</th>
                                <td style="text-align:right" ng-show="(!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')) && $ctrl.data.view_cc_details == 1">
                                    {{$ctrl.data.waiting_time | customTimeFilter}}
                                </td>
                                <td style="text-align:right" ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities')">{{$ctrl.data.asp_waiting_time | customTimeFilter}}
                                </td>
                                <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))" style="text-align:right">
                                    {{$ctrl.data.bo_waiting_time | customTimeFilter}}
                                </td>
                                <td class="waiting_time_entry" style="text-align:right;display:none">
                                    <div class="input-text form-group">
                                        <input type="text" class="form-control customForm-input collected_amount" name="bo_waiting_time" id="bo_waiting_time" ng-model="$ctrl.bo_waiting_time" autocomplete='off' readonly>
                                    </div><!-- Field -->
                                </td>
                            </tr>
                            <tr ng-show="$ctrl.data.km_travelled_attachment_url.length>0">
                                <th scope="row">KM Upload Attachment</th>
                                <td colspan="{{$ctrl.data.span_value}}">
                                    <div ng-repeat="(index,km_travelled_attachment) in $ctrl.data.km_travelled_attachments">
                                        <a target="_blank" href="{{$ctrl.data.km_travelled_attachment_url[index]}}">{{km_travelled_attachment.attachment_file_name}}</a>,
                                        <img height="80px" weight="80px" src="{{$ctrl.data.km_travelled_attachment_url[index]}}">
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="$ctrl.data.other_charges_attachment_url.length>0">
                                <th scope="row">Other Charges Attachment</th>
                                <td colspan="{{$ctrl.data.span_value}}">
                                    <div ng-repeat="(index,other_charges_attachment) in $ctrl.data.other_charges_attachments">
                                        <a target="_blank" href="{{$ctrl.data.other_charges_attachment_url[index]}}">{{other_charges_attachment.attachment_file_name}}</a>
                                        <!-- <img height="80px" weight="80px" src="{{$ctrl.data.other_charges_attachment_url[index]}}"> -->
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="$ctrl.data.vehiclePickupAttachmentUrl">
                                <th scope="row">Vehicle Pickup Image</th>
                                <td colspan="{{$ctrl.data.span_value}}">
                                    <a target="_blank" href="{{$ctrl.data.vehiclePickupAttachmentUrl}}">{{$ctrl.data.vehiclePickupAttachment.attachment_file_name}}</a>
                                    <!-- <img height="80px" weight="80px" src="{{$ctrl.data.vehiclePickupAttachmentUrl}}"> -->
                                </td>
                            </tr>
                            <tr ng-show="$ctrl.data.vehicleDropAttachmentUrl">
                                <th scope="row">Vehicle Drop Image</th>
                                <td colspan="{{$ctrl.data.span_value}}">
                                    <a target="_blank" href="{{$ctrl.data.vehicleDropAttachmentUrl}}">{{$ctrl.data.vehicleDropAttachment.attachment_file_name}}</a>
                                    <!-- <img height="80px" weight="80px" src="{{$ctrl.data.vehicleDropAttachmentUrl}}"> -->
                                </td>
                            </tr>
                            <tr ng-show="$ctrl.data.inventoryJobSheetAttachmentUrl">
                                <th scope="row">Inventory Job Sheet Image</th>
                                <td colspan="{{$ctrl.data.span_value}}">
                                    <a target="_blank" href="{{$ctrl.data.inventoryJobSheetAttachmentUrl}}">{{$ctrl.data.inventoryJobSheetAttachment.attachment_file_name}}</a>
                                    <!-- <img height="80px" weight="80px" src="{{$ctrl.data.inventoryJobSheetAttachmentUrl}}"> -->
                                </td>
                            </tr>
                            <tr ng-show="$ctrl.data.otherAttachmentOneUrl">
                                <th scope="row">Other Image One</th>
                                <td colspan="{{$ctrl.data.span_value}}">
                                    <a target="_blank" href="{{$ctrl.data.otherAttachmentOneUrl}}">{{$ctrl.data.otherAttachmentOne.attachment_file_name}}</a>
                                </td>
                            </tr>
                            <tr ng-show="$ctrl.data.otherAttachmentTwoUrl">
                                <th scope="row">Other Image Two</th>
                                <td colspan="{{$ctrl.data.span_value}}">
                                    <a target="_blank" href="{{$ctrl.data.otherAttachmentTwoUrl}}">{{$ctrl.data.otherAttachmentTwo.attachment_file_name}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" style="border: 1px solid #e1e1e1;padding: 10px 15px;margin: 0 auto;">
                        <div class="col-xs-12 col-sm-6 col-md-6" ng-show="$ctrl.data.remarks">
                            <h4>Remarks Comments for not collected charges</h4>
                            <p style="word-wrap: break-word;max-height: 100px;overflow: auto;" ng-bind-html="$ctrl.data.remarks"></p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6" ng-show="$ctrl.data.backstep_reason">
                            <h4>Backstep Reason</h4>
                            <p style="word-wrap: break-word;max-height: 100px;overflow: auto;" ng-bind-html="$ctrl.data.backstep_reason"></p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6" ng-show="$ctrl.data.general_remarks">
                            <h4>ASP General Remarks</h4>
                            <p style="word-wrap: break-word;max-height: 100px;overflow: auto;" ng-bind-html="$ctrl.data.general_remarks"></p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6" ng-show="!$ctrl.hasPermission('own-rm-asp-activities') && $ctrl.data.defer_reason">
                            <h4>BO Defer Reason</h4>
                            <p style="word-wrap: break-word;max-height: 100px;overflow: auto;" ng-bind-html="$ctrl.data.defer_reason"></p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6" ng-show="$ctrl.data.asp_resolve_comments">
                            <h4>ASP Resolve Comments</h4>
                            <p style="word-wrap: break-word;max-height: 100px;overflow: auto;" ng-bind-html="$ctrl.data.asp_resolve_comments"></p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6" ng-show="!$ctrl.hasPermission('view-own-activities') && !$ctrl.hasPermission('own-rm-asp-activities') && $ctrl.data.exceptional_reason">
                            <h4>Exceptional Reason</h4>
                            <p style="word-wrap: break-word;max-height: 100px;overflow: auto;" ng-bind-html="$ctrl.data.exceptional_reason"></p>
                        </div>
                    </div>
                    <h3 class="mt-30 mb-20">Rate Card Info</h3>
                    <ul class="rate-card-info-list">
                        <li class="rate-card-info-list-item">Paid To : <span class="orange-txt"> {{$ctrl.data.paid_to}}</span></li>
                        <li class="rate-card-info-list-item">Payment Mode: <span class="orange-txt">{{$ctrl.data.payment_mode}}</span></li>
                    </ul>
                    <div class="table-responsive">
                        <table class="table table-bordered table-wide style-normal">
                            <thead>
                                <tr class="warning">
                                    <th>
                                        Below {{ $ctrl.data.asp_service_type_data.range_limit | number }}
                                    </th>
                                    <th>
                                        Above {{ $ctrl.data.asp_service_type_data.range_limit | number }} (for every KM)
                                    </th>
                                    <th>
                                        Empty Return Charge
                                    </th>
                                    <th>Waiting Charge</th>     
                                </tr>
                            </thead>
                            <tbody>
                                  <tr class="active">
                                    <td>
                                        {{$ctrl.data.asp_service_type_data.below_range_price}}
                                        <input class="form-control viewData-input below_40 hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.below_range_price}}">
                                        <input class="form-control viewData-input limit hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.range_limit}}">
                                    </td>
                                         <td>
                                        {{$ctrl.data.asp_service_type_data.above_range_price}}
                                        <input class="form-control viewData-input  above_40 hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.above_range_price}}">
                                             </td>
                                    <td>
                                        {{$ctrl.data.asp_service_type_data.empty_return_range_price }}
                                        <input class="form-control viewData-input mt_return_price hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.empty_return_range_price}}">
                                             </td>
                                    <td style="text-align: left;">
                                        {{$ctrl.data.asp_service_type_data.waiting_charge_per_hour}}
                                        <input class="form-control viewData-input waiting_charge hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.waiting_charge_per_hour}}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- @if(!empty($approved_view)) -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-wide style-normal">
                            <thead>
                                <tr>
                                    <th>Payout Calculation</th>
                                    <th style="text-align: right;">Amount in INR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KM Charges (+)</td>
                                    <td>
                                        <div>{{$ctrl.data.bo_po_amount| currency:"₹"}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Charges Not Collected From Customer (+) </td>
                                    <td>
                                        <div>{{$ctrl.data.raw_bo_not_collected | currency:"₹"}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Charges Collected From Customer (-)</td>
                                    <td>
                                        <div>{{$ctrl.data.raw_bo_collected | currency:"₹"}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Waiting Charges (+)</td>
                                    <td>
                                        <div>{{$ctrl.data.raw_bo_waiting_charges | currency :"₹"}}</div>
                                    </td>
                                </tr>
                                <tr style="text-align: right;">
                                    <td>Discount (-)</td>
                                    <td ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)">
                                        <div><input style="text-align:right" type="text" ng-model="$ctrl.data.bo_deduction" class="deduction" value="{{$ctrl.data.bo_deduction}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-keyup="calculatePO()"></div>
                                    </td>
                                    <td ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))">
                                        <div>{{$ctrl.data.bo_deduction| currency:"₹"}}</div>
                                    </td>
                                </tr>
                                <tr ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)">
                                    <td colspan="2">
                                        <textarea name="deduction_reason" ng-model="$ctrl.data.deduction_reason" class="form-control" value="" placeholder="Enter Discount Reason" rows="3"></textarea>
                                    </td>
                                </tr>
                                <tr ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))">
                                    <td colspan="2" class="text-left">
                                        Discount Reason : {{$ctrl.data.deduction_reason ? $ctrl.data.deduction_reason : 'N/A'}}
                                    </td>
                                </tr>
                                <!-- <tr ng-if="$ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 1 || $ctrl.data.activityApprovalLevel == 3)">
    <td colspan="2">
        <textarea name="bo_comments" ng-model="$ctrl.data.bo_comments" class="form-control" value="" placeholder="Enter Comments" rows="3"></textarea>
    </td>
</tr>
<tr ng-if="$ctrl.data.verification == 0 || ($ctrl.data.verification == 1 && ($ctrl.data.activityApprovalLevel == 2 || $ctrl.data.activityApprovalLevel == 4))">
    <td colspan="2" class="text-left">
        Comments : {{$ctrl.data.bo_comments ? $ctrl.data.bo_comments : 'N/A'}}
    </td>
</tr> -->
                                <tr class="warning">
                                    <td>Payout Amount</td>
                                    <td>
                                        <div>{{$ctrl.data.bo_net_amount| currency:"₹"}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- tab-pane -->
                <div class="table-data-footer" ng-show="$ctrl.data.verification==1">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6 text-right">
                            <ul class="inline-btns">
                                <li><a href="javascript:;" id="reject-ticket" class="differed-btn btn btn-primary blue" ng-click="deferTicket()">DEFER</a></li>
                                <li><button type="button" id="accept-ticket" class="differed-btn btn btn-primary blue" ng-click="approveTicket()">APPROVE</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-data-footer" ng-show="$ctrl.data.verification==0 && $ctrl.data.eligibleForBackstep">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6 text-right">
                            <ul class="inline-btns">
                                <li>
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#backstep-case">
                                        Backstep
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- tab-content -->
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="backstep-case" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img class="close_btn" src="{{ $ctrl.modal_close }}">
                </a>
                <h4 class="modal-title">Ticket Backstep</h4>
            </div>
            <form id="tickect-back-asp-form" action="{{$ctrl.activity_back_asp_update_route}}" method="post">
                <input type="hidden" name="_token" value="{{$ctrl.csrf}}" />
                <input type="hidden" name="activty_id" id="activty_id" value="{{$ctrl.data.id}}">
                <input type="hidden" name="ticket_status_id" id="ticket_status_id" value="">
                <div class="modal-body">
                    <div class="approvalModal-wrapper">
                        <div class="viewData-threeColumn--wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <label>Reason<sup class="req">*</sup></label>
                                                <textarea name="backstep_reason" id="backstepReason" class="form-control" ng-model="$ctrl.backstepReason"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--  <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                Click Here
                                                <button type="button" class="differed-btn blue approve-btn" ng-click="backstepSubmit(1)">ASP Rejected CC Details - Waiting for ASP Data Entry</button>
                                            </div>
                                        </div> -->
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                Click Here
                                                <button type="button" ng-click="backstepSubmit(2)" class="differed-btn blue approve-btn">BO Rejected - Waiting for ASP Data Re-Entry</button>
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                Click Here
                                                <button type="button" ng-click="backstepSubmit(3)" class="differed-btn blue approve-btn">ASP Completed Data Entry - Waiting for L1 Individual Verification</button>
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- Modal -->
<!-- Modal -->
<div class="modal fade uploadMsg modal-bo" id="reject-modal" role="dialog" ng-if="$ctrl.data.activityApprovalLevel != 1">
    <div class="modal-dialog">
        <div class="modal-content txt-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{$ctrl.data.style_modal_close_image_url}}"></button>
            </div>
            <div class="modal-body">
                <form novalidate id="defer_form" method="post" name="$ctrl.differFormNotLevelOne">
                    <input type="hidden" name="_token" value="{{ $ctrl.csrf }}" />
                    <input type="hidden" name="activity_id" id="activity_id" value="{{$ctrl.data.id}}">
                    <img class="uploadMsg-img" src="{{$ctrl.data.style_question_image_url}}">
                    <h2 class="uploadMsg-title">Defer Activity</h2>
                    <input name="defer_to" type="hidden" value="{{config('constants.ticket_statuses.'.$defer_to)}}">
                    <textarea name="defer_reason" ng-model="$ctrl.defer_reason" value="{{$ctrl.defer_reason}}" rows='5' class="form-control" autocomplete="off" placeholder="Enter Reason" ng-required="true"></textarea>
                    <div ng-show="$ctrl.differFormNotLevelOne.$submitted || $ctrl.differFormNotLevelOne.defer_reason.$touched">
                        <span style="color:red" ng-show="$ctrl.differFormNotLevelOne.defer_reason.$error.required">Differ reason is required.</span>
                    </div>
                    <input type="hidden" value="{{$ctrl.data.bo_comments}}" ng-model="$ctrl.data.bo_comments">
                    <input type="hidden" value="{{$ctrl.data.deduction_reason}}" ng-model="$ctrl.data.deduction_reason">
                    <div class="clearfix"></div>
                    <button class="btn btn-primary yellow differ_btn" type="btn" ng-click="differ(22)">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div><!-- Modal -->
<div class="modal fade asp_for_find" id="reject-modal" role="dialog" ng-if="$ctrl.data.activityApprovalLevel == 1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{$ctrl.data.style_modal_close_image_url}}"></button>
                <h4 class="modal-title">Defer Activity</h4>
            </div>
            <div class="alert alert-danger" style="display: none;"></div>
            <div class="modal-body">
                <form novalidate id="defer_form" method="post" name="$ctrl.differFormLevelOne">
                    <input type="hidden" name="_token" value="{{ $ctrl.csrf }}" />
                    <input type="hidden" name="activity_id" id="activity_id" value="{{$ctrl.data.id}}">
                    <input name="defer_to" type="hidden" value="{{config('constants.ticket_statuses.'.$defer_to)}}">
                    <input type="hidden" value="{{$ctrl.data.bo_comments}}" ng-model="$ctrl.data.bo_comments">
                    <input type="hidden" value="{{$ctrl.data.deduction_reason}}" ng-model="$ctrl.data.deduction_reason">
                    <div class="approvalModal-wrapper">
                        <div class="viewData-threeColumn--wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <label>Reason<sup class="req">*</sup></label>
                                                <textarea name="defer_reason" ng-model="$ctrl.defer_reason" value="{{$ctrl.defer_reason}}" rows='5' class="form-control" autocomplete="off" placeholder="Enter Reason" ng-required="true"></textarea>
                                                <div ng-show="$ctrl.differFormLevelOne.$submitted || $ctrl.differFormLevelOne.defer_reason.$touched">
                                                    <span style="color:red" ng-show="$ctrl.differFormLevelOne.defer_reason.$error.required">Defer reason is required.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                Click Here
                                                <button type="button" ng-click="differ(7)" class="blue approve-btn differ_btn">BO Rejected - Waiting for ASP Data Re-Entry</button>
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                Click Here
                                                <button type="button" class="blue approve-btn differ_btn" ng-click="differ(28)">BO Rejected - Waiting for Call Center Data Entry</button>
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                    </div>
                                </div><!-- row -->
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- Modal -->
<!-- Modal -->
<div class="modal fade uploadMsg" id="confirm-ticket-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content txt-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{$ctrl.data.style_modal_close_image_url}}"></button>
            </div>
            <form novalidate id="approve_form" method="post" name="myForm">
                <input type="hidden" name="_token" value="{{ $ctrl.csrf }}" />
                <input type="hidden" name="activity_id" id="activity_id" ng-model="$ctrl.data.id" value="{{$ctrl.data.id}}">
                <input type="hidden" name="bo_km_travelled" ng-model="$ctrl.data.bo_km_travelled" value="{{$ctrl.data.bo_km_travelled}}">
                <input type="hidden" name="raw_bo_collected" ng-model="$ctrl.data.raw_bo_collected" value="{{$ctrl.data.raw_bo_collected}}">
                <input type="hidden" name="raw_bo_not_collected" ng-model="$ctrl.data.raw_bo_not_collected" value="{{$ctrl.data.raw_bo_not_collected}}">
                <input type="hidden" name="bo_deduction" ng-model="$ctrl.data.bo_deduction" value="{{$ctrl.data.bo_deduction}}">
                <input type="hidden" name="bo_po_amount" ng-model="$ctrl.data.bo_po_amount" value="{{$ctrl.data.bo_po_amount}}">
                <input type="hidden" name="bo_net_amount" ng-model="$ctrl.data.bo_net_amount" value="{{$ctrl.data.bo_net_amount}}">
                <input type="hidden" name="bo_amount" ng-model="$ctrl.data.bo_amount" value="{{$ctrl.data.bo_amount}}">
                <input type="hidden" name="activity_id" ng-model="$ctrl.data.id" value="{{$ctrl.data.id}}">
                <input type="hidden" ng-model="$ctrl.data.bo_comments">
                <input type="hidden" ng-model="$ctrl.data.deduction_reason">
                <div class="modal-body">
                    <img class="uploadMsg-img" src="{{$ctrl.data.style_checked_image_url}}">
                    <h2 class="uploadMsg-title">
                        Approve this Activity
                    </h2>
                    <!--                     <div class="form-group">
                        <div class="col-xs-12">
                            <label>
                                <input type="checkbox" ng-model="$ctrl.is_exceptional_check" name="is_exceptional_check" ng-true-value=1 ng-false-value=0> Mark this Approval as Exceptional</label>
                        </div>
                    </div> -->
                    <textarea name="exceptional_reason" ng-model="$ctrl.exceptional_reason" value="{{$ctrl.exceptional_reason}}" rows="5" class="form-control" autocomplete="off" placeholder="Reason for Exceptional" id='exceptional_reason' required></textarea>
                    <div ng-show="myForm.$submitted || myForm.exceptional_reason.$touched">
                        <span style="color:red" ng-show="myForm.exceptional_reason.$error.required">Exceptional reason is required.</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="custom-row">
                        <button class="btn btn-primary yellow approve_btn mt-20" type="btn" ng-click="saveApproval()">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- Modal -->
<div class="col-md-12">
    <!-- Button Loader Starts -->
    <div class="loader-type-2 loader-hide">
        <div class="loader-inner"></div>
    </div>
    <!-- Button Loader Ends -->
</div>
<style>
.hiddenRow {
    padding: 0 !important;
}
</style>
<script>
$(document).ready(function() {
    $('#bo_waiting_time').datetimepicker({
        format: 'HH:mm',
        ignoreReadonly: true
    });
});
</script>