<div class="viewData-wrapper bordered mt-20">
    <div class="viewData-threeColumn--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Case Number</p>
                        <h3>{{$ctrl.data.number}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Case Date</p>
                        <h3>{{$ctrl.data.case_date}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Call Center</p>
                        <h3>{{$ctrl.data.call_center}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Client Name</p>
                        <h3>{{$ctrl.data.client}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="viewData-threeColumn--wrapper">
        <div class="row">
            <!-- <div class="col-xs-12 col-sm-3 col-md-3">
    <ul class="viewData-threeColumn--group m-t-50 m-b-20">
        <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
            <p>Vehicle Registration Number</p>
            <h3>{{$ctrl.data.vehicle_registration_number}}</h3>
        </li>
    </ul>
</div> -->
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>VIN No</p>
                        <h3>{{$ctrl.data.vin_no}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>KM During Breakdown</p>
                        <h3>{{$ctrl.data.km_during_breakdown}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>BD Lat</p>
                        <h3>{{$ctrl.data.bd_lat ? $ctrl.data.bd_lat :'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>BD Long</p>
                        <h3>{{$ctrl.data.bd_long ? $ctrl.data.bd_long :'-'}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="viewData-threeColumn--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>BD Location</p>
                        <h3>{{$ctrl.data.bd_location ? $ctrl.data.bd_location:'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>BD City</p>
                        <h3>{{$ctrl.data.bd_city ? $ctrl.data.bd_city :'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>BD State</p>
                        <h3>{{$ctrl.data.bd_state ? $ctrl.data.bd_state :'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Location Type</p>
                        <h3>{{$ctrl.data.loction_type ? $ctrl.data.loction_type :'-'}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="viewData-threeColumn--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Location Category</p>
                        <h3>{{$ctrl.data.location_category ? $ctrl.data.location_category :'-'}}</h3>
                    </li>
                </ul>
            </div>
            <!-- <div class="col-xs-12 col-sm-3 col-md-3" ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities') && !$ctrl.hasPermission('own-zm-asp-activities')">
    <ul class="viewData-threeColumn--group m-t-50 m-b-20">
        <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
            <p>Customer Name</p>
            <h3>{{$ctrl.data.customer_name}}</h3>
        </li>
    </ul>
</div>
<div class="col-xs-12 col-sm-3 col-md-3" ng-show="!$ctrl.data.has_view_own_activities && !$ctrl.hasPermission('own-rm-asp-activities') && !$ctrl.hasPermission('own-zm-asp-activities')">
    <ul class="viewData-threeColumn--group m-t-50 m-b-20">
        <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
            <p>Customer Contact Number</p>
            <h3>{{$ctrl.data.customer_contact_number}}</h3>
        </li>
    </ul>
</div> -->
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Case Closing Date</p>
                        <h3>{{$ctrl.data.submission_closing_date ? $ctrl.data.submission_closing_date :'-'}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>