<div class="viewData-wrapper bordered mt-20">
    <div class="viewData-threeColumn--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>KM During Breakdown</p>
                        <h3>{{$ctrl.data.km_during_breakdown ? $ctrl.data.km_during_breakdown : '-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>BD Location</p>
                        <h3>{{$ctrl.data.bd_location ? $ctrl.data.bd_location:'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>BD State</p>
                        <h3>{{$ctrl.data.bd_state ? $ctrl.data.bd_state :'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>BD City</p>
                        <h3>{{$ctrl.data.bd_city ? $ctrl.data.bd_city :'-'}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="viewData-threeColumn--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>BD Lat</p>
                        <h3>{{$ctrl.data.bd_lat ? $ctrl.data.bd_lat :'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>BD Long</p>
                        <h3>{{$ctrl.data.bd_long ? $ctrl.data.bd_long :'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Pickup Lat</p>
                        <h3>{{$ctrl.data.pickup_lat ? $ctrl.data.pickup_lat :'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Pickup Long</p>
                        <h3>{{$ctrl.data.pickup_long ? $ctrl.data.pickup_long :'-'}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="viewData-threeColumn--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Pickup Dealer</p>
                        <h3>{{$ctrl.data.pickup_dealer_name ? $ctrl.data.pickup_dealer_name :'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Pickup Location</p>
                        <h3>{{$ctrl.data.pickup_dealer_location ? $ctrl.data.pickup_dealer_location :'-'}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Drop Location Type</p>
                        <h3>{{$ctrl.data.drop_location_type}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Drop Dealer</p>
                        <h3>{{$ctrl.data.drop_dealer}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="viewData-threeColumn--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Drop Location</p>
                        <h3>{{$ctrl.data.drop_location}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Dropped Lat</p>
                        <h3>{{$ctrl.data.drop_location_lat}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>Dropped Long</p>
                        <h3>{{$ctrl.data.drop_location_long}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>ASP Start Location</p>
                        <h3>{{$ctrl.data.asp_start_location}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="viewData-threeColumn--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>ASP End Location</p>
                        <h3>{{$ctrl.data.asp_end_location}}</h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="viewData-threeColumn--group m-t-50 m-b-20">
                    <li class="activity-status-list-item"><img class="activity-status-list-item-img" src="{{$ctrl.data.style_dot_image_url}}">
                        <p>ASP Reached Date</p>
                        <h3>{{$ctrl.data.asp_reached_date}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>