<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li ng-if="$ctrl.type_id == 12"><a href="#!/rsa-case-pkg/unpaid-batches/list">Unpaid Batches</a></li>
            <li ng-if="$ctrl.type_id == 11"><a href="#!/rsa-case-pkg/paid-batches/list">Paid Batches</a></li>
            <li>{{$ctrl.batch.batch_number}}</li>
        </ul>
    </div>
</div>
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="dataTable--left_wrapper">
                        <h2 class="dataTable-title">{{ $ctrl.batch.batch_number}}</h2>
                        <p><span class="orange-txt">{{ $ctrl.batch.created_at }}</span> </p>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="bill" class="tab-pane fade in active">
                    <div class="viewData-wrapper">
                        <div class="viewData-toggle--wrapper">
                            <div class="viewData-toggle--wrapper">
                                <div class="viewData-toggle--inner">
                                    <h2 class="viewData-toggle--title pull-left">
                                        {{$ctrl.asp.title_name}}
                                    </h2>
                                    <span class="viewData-toggle--btn pull-right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                    <div class="clearfix"></div>
                                    <ul>
                                        <li>ASP Code : <span>{{$ctrl.asp.asp_code}}</span></li>
                                        <li ng-if="$ctrl.asp.asp_code != 'NULL'">ASP Type :
                                            <span>
                                                {{$ctrl.asp.is_self ? 'Self' : 'Non Self'}}
                                            </span>
                                        </li>
                                        <li ng-if="$ctrl.asp.asp_code != 'NULL'">ASP has GST :
                                            <span>
                                                {{$ctrl.asp.has_gst ? 'Yes' : 'No'}}
                                            </span>
                                        </li>
                                        <li ng-if="$ctrl.asp.is_self && $ctrl.asp.has_gst">Auto Invoice :
                                            <span>
                                                {{$ctrl.asp.is_auto_invoice ? 'Yes' : 'No'}}
                                            </span>
                                        </li>
                                        <li>Tier :
                                            <span>
                                                {{$ctrl.asp.tier}}
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <div class="viewData-threeColumn--wrapper">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <ul class="viewData-threeColumn--group">
                                                    <li><img src="./resources/assets/images/ic-location.svg"></li>
                                                    <li>
                                                        <p>
                                                            {{$ctrl.asp.workshop_name}} <br>
                                                            {{$ctrl.asp.address_line_1}}<br>
                                                            {{$ctrl.asp.address_line_2}}<br>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <ul class="viewData-threeColumn--group">
                                                    <li><img src="./resources/assets/images/ic-phone.svg"></li>
                                                    <li>
                                                        <p>{{$ctrl.asp.contact_number1}}<br><a href="javascript:;">{{$ctrl.asp.email}}</a></p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <ul class="viewData-threeColumn--group">
                                                    <li><img src="./resources/assets/images/ic-profile.svg"></li>
                                                    <li>
                                                        <p>RM: {{$ctrl.asp.rm.name}}<br> RM Mobile: {{$ctrl.asp.rm.contact_number}} </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="viewData-accordion">
                        </div>
                    </div>
                </div>
            </div>
            <div class="formTabs-wrapper">
                <label class="heading-label">Invoice Details </label>
                <div class="formTabs-inner">
                    <div class="formTabs-content">
                        <div class="tab-content">
                            <div id="" class="tab-pane fade in active">
                                <div class="form-wrapper">
                                    <div class="row">
                                        <div class="viewData-form--wrapper">
                                            <p class="p-l-20">
                                            </p>
                                            <table id="aspLogin-table" class="display table row_linked_table">
                                                <thead>
                                                    <tr class="no-link">
                                                        <th>Invoice Number</th>
                                                        <th>Invoice Date</th>
                                                        <th>Invoice Period</th>
                                                        <th>Asp Code</th>
                                                        <th>Workshop Name</th>
                                                        <th class="text-right">No of Tickets</th>
                                                        <th class="text-right">Invoice Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="(index, invoice_detail) in $ctrl.invoice_details" id="{{$ctrl.invoice_view_data_url}}/#!/rsa-case-pkg/invoice/view/{{invoice_detail.id}}/{{$ctrl.type_id}}" >
                                                        <td>{{invoice_detail.invoice_no}} - {{invoice_detail.id}}</td>
                                                        <td>{{invoice_detail.created_at}}</td>
                                                        <td>{{invoice_detail.start_date}} - {{invoice_detail.end_date}}</td>
                                                        <td>{{invoice_detail.asp.asp_code}}</td>
                                                        <td>{{invoice_detail.asp.workshop_name}}</td>
                                                        <td class="text-right">{{invoice_detail.activities.length}}</td>
                                                        <td class="text-right">{{invoice_detail.invoice_amount}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formTabs-wrapper" ng-if="{{$ctrl.payment_info_permission}}">
                <label class="heading-label">Payment Details</label>
                <div class="formTabs-inner">
                    <div class="formTabs-content">
                        <div class="tab-content">
                            <div id="" class="tab-pane fade in active">
                                <div class="form-wrapper">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Payment Date</label>
                                                <span>{{$ctrl.batch.payment_date}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>UTR Number</label>
                                                <div class="clearfix"></div>
                                                <span>{{$ctrl.batch.utr_number}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>TDS Amount</label>
                                                <div class="clearfix"></div>
                                                <span>{{$ctrl.batch.tds}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Paid Amount</label>
                                                <div class="clearfix"></div>
                                                <span>{{$ctrl.batch.paid_amount}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="form-group">
                                                <label>Comments</label>
                                                <div class="clearfix"></div>
                                                <span>{{$ctrl.batch.comments}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>