<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="dataTable--left_wrapper">
                        <h2 class="dataTable-title">{{ $ctrl.batch.batch_number}}</h2>
                        <p><span class="orange-txt">{{ $ctrl.batch.created_at }}</span> </p>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="bill" class="tab-pane fade in active">
                    <div class="viewData-wrapper">
                        <div class="viewData-toggle--wrapper">
                            <div class="viewData-toggle--wrapper">
                                <div class="viewData-toggle--inner">
                                    <h2 class="viewData-toggle--title pull-left">
                                        {{$ctrl.asp.title_name}}
                                    </h2>
                                    <span class="viewData-toggle--btn pull-right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                    <div class="clearfix"></div>
                                    <ul>
                                        <li>ASP Code : <span>{{$ctrl.asp.asp_code}}</span></li>
                                        <li ng-if="$ctrl.asp.asp_code != 'NULL'">ASP Type :
                                            <span>
                                                {{$ctrl.asp.is_self ? 'Self' : 'Non Self'}}
                                            </span>
                                        </li>
                                        <li ng-if="$ctrl.asp.asp_code != 'NULL'">ASP has GST :
                                            <span>
                                                {{$ctrl.asp.has_gst ? 'Yes' : 'No'}}
                                            </span>
                                        </li>
                                        <li ng-if="$ctrl.asp.is_self && $ctrl.asp.has_gst">Auto Invoice :
                                            <span>
                                                {{$ctrl.asp.is_auto_invoice ? 'Yes' : 'No'}}
                                            </span>
                                        </li>
                                        <li>Tier :
                                            <span>
                                                {{$ctrl.asp.tier}}
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <div class="viewData-threeColumn--wrapper">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <ul class="viewData-threeColumn--group">
                                                    <li><img src="./resources/assets/images/ic-location.svg"></li>
                                                    <li>
                                                        <p>
                                                            {{$ctrl.asp.workshop_name}} <br>
                                                            {{$ctrl.asp.address_line_1}}<br>
                                                            {{$ctrl.asp.address_line_2}}<br>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <ul class="viewData-threeColumn--group">
                                                    <li><img src="./resources/assets/images/ic-phone.svg"></li>
                                                    <li>
                                                        <p>{{$ctrl.asp.contact_number1}}<br><a href="javascript:;">{{$ctrl.asp.email}}</a></p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <ul class="viewData-threeColumn--group">
                                                    <li><img src="./resources/assets/images/ic-profile.svg"></li>
                                                    <li>
                                                        <p>RM: {{$ctrl.asp.rm.name}}<br> RM Mobile: {{$ctrl.asp.rm.contact_number}} </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="viewData-accordion">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>