				    
				      <div class="viewData-wrapper">
							<div class="viewData-threeColumn--wrapper">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Case Number</p>
												<h3>{{$ctrl.data.number}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Case Date</p>
												<h3>{{$ctrl.data.case_date}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Service Type</p>
												<h3>{{$ctrl.data.service_type.name}}</h3>
											</li>
										</ul>
									</div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>ASP Status</p>
												<h3>{{$ctrl.data.asp_status}}</h3>
											</li>
										</ul>
									</div>
								</div>
							</div>
                          
                          <div class="viewData-threeColumn--wrapper">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>ASP Activity Rejected Reason</p>
												<h3>{{$ctrl.data.asp_activity_rejected_reason}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>ASP PO Accepted</p>
												<h3 ng-show="$$ctrl.data.asp_po_accepted">Yes</h3>
												<h3 ng-show="!$$ctrl.data.asp_po_accepted">No</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>ASP PO Rejected Reason</p>
												<h3 ng-show="$ctrl.data.asp_po_rejected_reason">{{$ctrl.data.asp_po_rejected_reason}}</h3>
												<h3 ng-show="!($ctrl.data.asp_po_rejected_reason)">-</h3>

											</li>
										</ul>
									</div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Portal Status</p>
												<h3>{{$ctrl.data.activity_portal_status}}</h3>
											</li>
										</ul>
									</div>
								</div>
							</div>

                          	<div class="viewData-threeColumn--wrapper">
								<div class="row">
                                   
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Activity Status</p>
												
												<h3>{{$ctrl.data.activity_status}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Activity Description</p>
												
												<h3 ng-show="!($ctrl.data.description)">{{$ctrl.data.description}}</h3>
												<h3 ng-show="!($ctrl.data.description)">-</h3>

											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Amount</p>
												
												<h3>{{$ctrl.data.amount}}</h3>
											</li>
										</ul>
									</div>
									 <div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Remarks</p>
												
												<h3>{{$ctrl.data.remarks}}</h3>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="viewData-threeColumn--wrapper">
								<div class="row">
                                   
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Paid To</p>
												
												<h3>{{$ctrl.data.paid_to}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Payment Mode</p>
												
												<h3>{{$ctrl.data.payment_mode}}</h3>
											</li>
										</ul>
									</div>
								</div>
							</div>

                          
						</div>
				 