<div class="viewData-wrapper">
    <div class="viewData-toggle--wrapper">
        <div class="viewData-toggle--wrapper">
            <div class="viewData-toggle--inner viewData-toggle--inner1">
                <h2 class="viewData-toggle--title pull-left">
                    Case Details
                </h2>
                <span class="viewData-toggle--btn pull-right" id="viewData-toggle--btn1"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                <div class="clearfix"></div>
                <ul>
                    <li>Case # : <span>{{$ctrl.data.number}}</span></li>
                    <li>Case Status : <span>{{$ctrl.data.case_status}}</span></li>
                    <li>Case Date : <span>{{$ctrl.data.case_date}}</span></li>
                    <li>
                        Portal Status :
                        <span>
                            {{$ctrl.data.activity_portal_status}}
                        </span>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <div class="viewData-threeColumn--wrapper viewData-threeColumn--wrapper1" id="viewData-threeColumn--wrapper1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <ul class="viewData-threeColumn--group">
                                <li><img src="{{ $ctrl.data.style_location_image_url}}"></li>
                                <li>
                                    <p>
                                        Customer Name : <br /> {{$ctrl.data.case_date}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <ul class="viewData-threeColumn--group">
                                <li><img src="./resources/assets/images/ic-phone.svg"></li>
                                <li>
                                    <p>
                                        Customer Contact Number : <br />
                                        {{$ctrl.data.customer_contact_number}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <ul class="viewData-threeColumn--group">
                                <li><img src="{{ $ctrl.data.style_phone_image_url}}"></li>
                                <li>
                                    <p>
                                        Vehicle Details : <br />
                                        {{$ctrl.data.vehicle_registration_number}} |
                                        {{$ctrl.data.vehicle_model}} - {{$ctrl.data.vehicle_make}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
<br />
<div class="viewData-toggle--wrapper">
    <div class="viewData-toggle--inner mt-30">
        <h2 class="viewData-toggle--title pull-left">
            ASP Details
        </h2>
        <span class="viewData-toggle--btn pull-right" id= "viewData-toggle--btnasp"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
        <div class="clearfix"></div>
        <ul>
            <li>ASP Code : <span>{{$ctrl.data.asp.asp_code}}</span></li>
            <li>ASP Name : <span>{{$ctrl.data.asp.name}}</span></li>
            <!-- @if(isset($mis_info)) -->
            <li>ASP Type :
                <span ng-show="$ctrl.data.asp.is_self">Self</span>
                <span ng-show="!($ctrl.data.asp.is_self)">Non Self</span>
            </li>
            <li>ASP has GST :
                <span ng-show="$ctrl.data.asp.has_gst">Yes</span>
                <span ng-show="!($ctrl.data.asp.has_gst)">No</span>
            </li>
            <li ng-show="$ctrl.data.asp.has_gst && $ctrl.data.asp.is_self">Auto Invoice :
                <span ng-show="$ctrl.data.asp.is_auto_invoice">Yes</span>
                <span ng-show="!($ctrl.data.asp.is_auto_invoice)">No</span>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="viewData-threeColumn--wrapper" id="viewData-threeColumn--wrapperasp">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <ul class="viewData-threeColumn--group">
                        <li><img src="{{ $ctrl.data.style_location_image_url}}"></li>
                        <li>
                            <p>{{$ctrl.data.asp.district.name}}, <br />{{$ctrl.data.asp.state.name}}, <br />{{$ctrl.data.asp.location.name}}.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <ul class="viewData-threeColumn--group">
                        <li><img src="./resources/assets/images/ic-phone.svg"></li>
                        <li>
                            <p>{{$ctrl.data.asp.contact_number1}}<br><a href="javascript:;">{{$ctrl.data.asp.email}}</a></p>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <ul class="viewData-threeColumn--group">
                        <li><img src="{{ $ctrl.data.style_profile_image_url}}"></li>
                        <li>
                            <p>RM: {{$ctrl.data.asp.rms.name}}<br> RM Mobile: {{$ctrl.data.asp.rms.contact_number}} </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>