<!-- <?php echo Form::open(['route' => 'boApprove', 'id' => 'approve-form']); ?>
			<?php echo Form::hidden('ticket_id', $ctrl.data.id); ?>
			<?php echo Form::hidden('is_exceptional', 0, ['id' => 'is_exceptional']); ?>
			<?php echo Form::hidden('exceptional_reason', '', ['id' => 'exceptional_reason']); ?> -->
<div class="viewData-wrapper">
    <div class="viewData-threeColumn--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <ul class="viewData-threeColumn--group">
                    <!-- <li><img src="{{$ctr.data.style_car_image_url}}"></li> -->
                    <li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
                    <li>
                        <p>Vehicle Details</p>
                        <h3>
                            {{$ctrl.data.vehicle_registration_number}} |
                            {{$ctrl.data.vehicle_model}} - {{$ctrl.data.vehicle_make}}
                        </h3>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <ul class="viewData-threeColumn--group">
                    <li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
                    <!-- <li><img src="{{$ctr.data.style_service_type_image_url}}"></li>	 -->
                    <li>
                        <p>Ticket Status</p>
                        <h3>{{$ctrl.data.case_status}}</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- @if($mis_info->claim_status == 1)
				<div class="differedTicket-reason">
					<label>Reply from ASP/CC for defer</label>
					<p>{{$mis_info->reason}}</p>
				</div>
	    		@endif -->
    <form id="billing_form" method="post">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="  {{ ++$index ==1 ? 'active' : ''}}">
                <a href="#info-{{$index}}" class="blue-btnn" aria-controls="home" role="tab" data-toggle="tab">
                    {{$ctrl.data.service}}
                </a>
                <input type="text" name="bo_info" class="hide services_ids" data-count="{{$index}}" value="">
            </li>
        </ul>
        <div class="tab-content boxed-tab">
            <div role="tabpanel" class="tab-pane active" id="info-{{$index}}">
                <div class="viewData-form--row">
                    <label>ASP Status</label>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="viewData-form--group">
                                <div class="form-group">
                                    <input class="form-control viewData-input mis-serv-km" name="label" type="text" value="{{$ctrl.data.asp_status}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input type="hidden" name="bo_info[{{$index}}][is_payment_eligible]" class="payment_eligible" value="1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pricing-table-data">
                    <!-- @if(!empty($approved_view)) -->
                    <!-- <price-comparison data="$ctrl.data"></price-comparison> -->
                    <!-- @else -->
                    <h3 class="mt-30 mb-20">Price Comparision</h3>
                    <div class="table-responsive">
                        <table class="table table-responsive table-bordered table-wide style-normal">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>CC Data</th>
                                    <th>ASP Data</th>
                                    <th>BO Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Service</th>
                                    <td>{{$ctrl.data.cc_service_type}}</td>
                                    <td class="">{{$ctrl.data.asp_service_type}}</td>
                                    <td style="text-align:left" ng-show="!$ctrl.data.verification && $ctrl.data.bo_service_type">{{$ctrl.data.bo_service_type}}</td>
                                    <td style="text-align:left" ng-show="!$ctrl.data.verification && !$ctrl.data.bo_service_type">-</td>
                                    <td style="text-align:left" ng-show="$ctrl.data.verification">{{$ctrl.data.asp_service_type}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">KM Travelled</th>
                                    <td class="">{{$ctrl.data.cc_total_km}}</td>
                                    <td class="asp_value">{{$ctrl.data.asp_km_travelled}}</td>
                                    <td style="text-align:left" class="" ng-show="$ctrl.data.verification==0 && $ctrl.data.bo_km_travelled!=0">{{$ctrl.data.bo_km_travelled}}</td>
                                    <td style="text-align:left" class="" ng-show="$ctrl.data.verification==0 && $ctrl.data.bo_km_travelled==0">-</td>
                                    <td style="text-align:left" ng-show="$ctrl.data.verification==1">
                                        <input type="text" name="bo_km_travelled" ng-model="$ctrl.data.raw_asp_km_travelled" value="{{$ctrl.data.raw_asp_km_travelled}}" class="km_value" ng-keyup="calculate()"><br><span class="alert alert-danger" style="display:none;">Enter Value less than Asp Value</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Charges Not Collected From Customer </th>
                                    <td class="">{{$ctrl.data.cc_not_collected_amount}}</td>
                                    <td class="">{{$ctrl.data.asp_not_collected}}</td>
                                    <td style="text-align:left" class="" ng-show="$ctrl.data.verification==0 && $ctrl.data.bo_not_collected!=0">{{$ctrl.data.bo_not_collected}}</td>
                                    <td style="text-align:left" class="" ng-show="$ctrl.data.verification==0 && $ctrl.data.bo_not_collected==0">-</td>
                                    <td style="text-align:left" class="" ng-show="$ctrl.data.verification==1">
                                        <input type="text" name="bo_not_collected" ng-model="$ctrl.data.raw_asp_not_collected" class="non_collected_amount" value="{{$ctrl.data.raw_asp_not_collected}}" ng-keyup="calculate()">
                                        <br>
                                        <input type="hidden" ng-model="$ctrl.data.raw_asp_not_collected" class="other_value" value="{{$ctrl.data.raw_asp_not_collected}}">
                                        <span class="alert alert-danger2" style="display:none;">Enter Value less than Not Collected Value</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Charges Collected From Customer </th>
                                    <td class="">{{$ctrl.data.cc_colleced_amount}}</td>
                                    <td class="">{{$ctrl.data.asp_collected}}</td>
                                    <td style="text-align:left" class="" ng-show="$ctrl.data.verification==0 && $ctrl.data.bo_collected!=0">{{$ctrl.data.bo_collected}}</td>
                                    <td style="text-align:left" class="" ng-show="$ctrl.data.verification==0 && $ctrl.data.bo_collected==0">-</td>
                                    <td style="text-align:left" ng-show="$ctrl.data.verification==1">
                                        <input type="text" name="bo_collected" ng-model="$ctrl.data.raw_asp_collected" class="collected_amount" value="{{$ctrl.data.raw_asp_collected}}" ng-keyup="calculate()">
                                        <input type="hidden" ng-model="$ctrl.data.raw_asp_collected" class="collected_value" value="{{$ctrl.data.raw_asp_collected}}">
                                        <br>
                                        <span class="alert alert-danger1" style="display:none;">Enter Value less than Collected Value</span>
                                    </td>
                                </tr>
                                <!-- @if(!empty($ctrl.remarks_not_collected)) -->
                                <!-- <tr>
			<th scope="row">Remarks Comments for not collected charges</th>
			<td>
				{{ $ctrl.remarks_not_collected }}
			</td>
		</tr> -->
                                <!-- @endif

		@if($ctrl.claim_status == 1) -->
                                <!-- <tr>
			<th scope="row" class="alert-danger">Resolved Comments from ASP</th>
			<td class="alert-danger">
				{{ $ctrl.comments }}
			</td>
		</tr> -->
                                <!-- @endif -->
                            </tbody>
                        </table>
                    </div>
                    <h3 class="mt-30 mb-20">Price Info</h3>
                    <div class="table-responsive">
                        <table class="table  table-bordered table-wide style-normal">
                                <thead>
                                     <tr class="warning">
                                         <th>Below {{ $ctrl.data.asp_service_type_data.range_limit }}</th>
                                         <th>Above {{ $ctrl.data.asp_service_type_data.range_limit }} (for every KM)</th>
                                         <th>Waiting Charge</th>
                                         <th>Empty Return Charge</th>
                                                <th>Adjustment Type</th>
                                                <th>Adjustment</th>
                                         </tr>
                                    </thead>
                                <tbody>
                                     <tr class="active">
                                         <th>
                                                 {{$ctrl.data.asp_service_type_data.below_range_price}}
                                                        <input class="form-control viewData-input below_40 hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.below_range_price}}">
                                                        <input class="form-control viewData-input limit hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.range_limit}}">
                                             </th>
                                         <td>
                                                 {{$ctrl.data.asp_service_type_data.above_range_price}}
                                                        <input class="form-control viewData-input  above_40 hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.above_range_price}}">
                                             </td>
                                         <td>
                                                 {{$ctrl.data.asp_service_type_data.waiting_charge_per_hour}}
                                                        <input class="form-control viewData-input waiting_charge hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.waiting_charge_per_hour}}">
                                             </td>
                                                <td>
                                                 {{$ctrl.data.asp_service_type_data.empty_return_range_price }}
                                                        <input class="form-control viewData-input mt_return_price hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.empty_return_range_price}}">
                                             </td>
                                                <td>
                                                        {{$ctrl.data.asp_service_type_data.adjustment_type == 1 ? 'Percentage' : 'Amount'}}
                                                        <input class="form-control viewData-input adjustment_type hide_temp" disabled="disabled" type="text" value="{{$ctrl.data.asp_service_type_data.adjustment_type == 1 ? 'Percentage' : 'Amount'}}">
                                                    </td>
                                                <td>
                                                        {{$ctrl.data.asp_service_type_data.adjustment}}
                                                        <input class="form-control viewData-input adjustment hide_temp" disabled="disabled" type="text" value="{{ $ctrl.data.asp_service_type_data.adjustment }}">
                                                    </td>
                                            </tr>
                                    </tbody>
                        </table>
                    </div>
                    <!-- @if(!empty($approved_view)) -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-wide style-normal">
                            <thead>
                                <tr>
                                    <th>Price Calculation</th>
                                <th style="text-align: right;">Amount in INR</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>KM Charges (+)</td>
                                    <td>
                                        <div>{{$ctrl.data.bo_po_amount}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Charges Not Collected From Customer (+) </td>
                                    <td>
                                        <div ng-show="$ctrl.data.verification==0 && $ctrl.data.bo_not_collected!=0">{{$ctrl.data.bo_not_collected}}</div>
                                        <div ng-show="$ctrl.data.verification==0 && $ctrl.data.bo_not_collected==0">{{$ctrl.data.asp_not_collected}}</div>
                                        <div ng-show="$ctrl.data.verification==1">{{$ctrl.data.raw_asp_not_collected}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Charges Collected From Customer (-)</td>
                                    <td>
                                        <div ng-show="$ctrl.data.verification==0 && $ctrl.data.bo_collected!=0">{{$ctrl.data.bo_collected}}</div>
                                        <div ng-show="$ctrl.data.verification==0 && $ctrl.data.bo_collected==0">{{$ctrl.data.asp_collected}}</div>
                                        <div ng-show="$ctrl.data.verification==1">{{$ctrl.data.raw_asp_collected}}</div>
                                    </td>
                                </tr>
                                <tr ng-show="$ctrl.data.verification==1">
                                    <td>Discount (-)</td>
                                    <td>
                                        <div><input type="text" ng-model="$ctrl.data.bo_deduction" class="deduction" value="{{$ctrl.data.bo_deduction}}" ng-keyup="calculate()"></div>
                                    </td>
                                </tr>
                                <tr ng-show="$ctrl.data.verification==1">
                                    <td colspan="2">
                                        <textarea name="cancelled_reason" ng-model="$ctrl.data.cancelled_reason" class="form-control" value="{{$ctrl.data.cancelled_reason}}" placeholder="Enter Deduction Reason" rows="3"></textarea>
                                    </td>
                                </tr>
                                <tr ng-show="$ctrl.data.verification==1">
                                    <td colspan="2">
                                        <textarea name="comments" ng-model="$ctrl.data.comments" class="form-control" value="{{$ctrl.data.comments}}" placeholder="Enter Comments" rows="3"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- @else
								                <service-total-summary data="$ctrl.data"></service-total-summary>

										@endif -->
                </div><!-- tab-pane -->
                <!-- @if(!empty($approved_view)) -->
                <h3 class="mb-20">Approved Value Calculation</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-wide style-normal table-label-hide">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th style="text-align: right;">Amount in INR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="warning" ng-show="$ctrl.data.verification==0">
                                <td>Net Amount</td>
                                <td>
                                    <div ng-show="$ctrl.data.bo_net_amount!=0">₹{{$ctrl.data.bo_net_amount}}</div>
                                    <div ng-show="$ctrl.data.bo_net_amount==0">₹{{$ctrl.data.asp_net_amount}}</div>
                                </td>
                            </tr>
                            <tr class="warning" ng-show="$ctrl.data.verification==1">
                                <td>Net Amount</td>
                                <td>
                                    <div>{{$ctrl.data.bo_net_amount | currency:"₹"}}</div>
                                </td>
                            </tr>
                            <!-- <tr class="active">
			<td>Total Tax</td>
			<td>
				<div>{{$ctrl.data.bo_tax_amount | currency:"₹"}}</div>
			</td>
		</tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="table-data-footer" ng-show="$ctrl.data.verification==0">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="title">APPROVED VALUE</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <h4 class="price" ng-show="$ctrl.data.bo_amount!=0">₹{{$ctrl.data.bo_amount}}</h4>
                            <h4 class="price" ng-show="$ctrl.data.bo_amount==0">₹{{$ctrl.data.asp_amount}}</h4>
                            <ul class="inline-btns">
                                <!-- <li><a href="javascript:;" id="reject-ticket" class="differed-btn btn btn-primary blue">REJECT</a></li> -->
                                <!-- <li><a href="javascript:;" id="defer-ticket" class="differed-btn btn btn-primary blue">DEFER</a></li> -->
                                <!-- @if(empty($approved_view)) -->
                                <!-- <li><button type="submit" class="differed-btn btn btn-primary blue">APPROVE</button></li> -->
                                <!-- @endif -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-data-footer" ng-show="$ctrl.data.verification==1">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="title">APPROVED VALUE</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <h4 class="price">{{$ctrl.data.bo_amount | currency:"₹"}}</h4>
                            <ul class="inline-btns">
                                <li><a href="javascript:;" id="reject-ticket" class="differed-btn btn btn-primary blue" ng-click="deferTicket()">DEFER</a></li>
                                <li><button type="button" class="differed-btn btn btn-primary blue" ng-click="approveTicket()">APPROVE</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- @else -->
                <!--  <ticket-total-summary data="$ctrl.data"></ticket-total-summary> -->
                <!-- @endif -->
            </div><!-- tab-content -->
    </form>
</div>
</div>
<div class="modal fade uploadMsg modal-bo" id="reject-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content txt-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{$ctrl.data.style_modal_close_image_url}}"></button>
            </div>
            <div class="modal-body">
                <form id="defer_form" method="post">
                    <input type="hidden" name="_token" value="{{ $ctrl.csrf }}" />
                    <input type="hidden" name="activity_id" id="activity_id" value="{{$ctrl.data.id}}">
                    <img class="uploadMsg-img" src="{{$ctrl.data.style_question_image_url}}">
                    <h2 class="uploadMsg-title">Defer Activity</h2>
                    <input name="defer_to" type="hidden" value="{{config('constants.ticket_statuses.'.$defer_to)}}">
                    <textarea name="reason" ng-model="$ctrl.reason" value="{{$ctrl.reason}}" rows='5' class="form-control" autocomplete="off" placeholder="Enter Reason" required></textarea>
                    <div class="clearfix"></div>
                    <button class="btn btn-primary yellow" type="btn" ng-click="differ()">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade uploadMsg" id="confirm-ticket-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content txt-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{$ctrl.data.style_modal_close_image_url}}"></button>
            </div>
            <form id="approve_form" method="post">
                <input type="hidden" name="_token" value="{{ $ctrl.csrf }}" />
                <input type="hidden" name="activity_id" id="activity_id" ng-model="$ctrl.data.id" value="{{$ctrl.data.id}}">
                <input type="hidden" name="bo_km_travelled" ng-model="$ctrl.data.bo_km_travelled" value="{{$ctrl.data.bo_km_travelled}}">
                <input type="hidden" name="raw_bo_collected" ng-model="$ctrl.data.raw_bo_collected" value="{{$ctrl.data.raw_bo_collected}}">
                <input type="hidden" name="raw_bo_not_collected" ng-model="$ctrl.data.raw_bo_not_collected" value="{{$ctrl.data.raw_bo_not_collected}}">
                <input type="hidden" name="bo_deduction" ng-model="$ctrl.data.bo_deduction" value="{{$ctrl.data.bo_deduction}}">
                <input type="hidden" name="bo_po_amount" ng-model="$ctrl.data.bo_po_amount" value="{{$ctrl.data.bo_po_amount}}">
                <input type="hidden" name="bo_net_amount" ng-model="$ctrl.data.bo_net_amount" value="{{$ctrl.data.bo_net_amount}}">
                <input type="hidden" name="bo_amount" ng-model="$ctrl.data.bo_amount" value="{{$ctrl.data.bo_amount}}">
                <input type="hidden" name="activity_id" ng-model="$ctrl.data.id" value="{{$ctrl.data.id}}">
                <div class="modal-body">
                    <img class="uploadMsg-img" src="{{$ctrl.data.style_question_image_url}}">
                    <h2 class="uploadMsg-title">
                        {{$ctrl.data.number}}<br />
                        Approve this Activity
                    </h2>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Mark this Approval as Exceptional</label>
                        </div>
                    </div>
                    <!-- <textarea name = "exceptional_reason_check" ng-model="$ctrl.exceptional_reason_check" value ="{{$ctrl.exceptional_reason_check}}" rows = '5' class ="form-control" autocomplete="off" placeholder ="Reason for Exceptional" id = 'exceptional_reason_check'></textarea> -->
                    <div class="clearfix"></div>
                    <button class="btn btn-primary yellow" type="btn" ng-click="saveApproval()">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>