
				      <div class="viewData-wrapper">
							<div class="viewData-threeColumn--wrapper">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Service Charges</p>
												<h3>{{$ctrl.data.service_charges}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Membership Charges</p>
												<h3>{{$ctrl.data.membership_charges}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Eatable Items Charges</p>
												<h3>{{$ctrl.data.eatable_items_charges}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Toll Charges</p>
												<h3>{{$ctrl.data.toll_charges}}</h3>
											</li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Green Tax Charges</p>
												<h3>{{$ctrl.data.green_tax_charges}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Border Charges</p>
												<h3>{{$ctrl.data.border_charges}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Octroi Charges</p>
												<h3>{{$ctrl.data.octroi_charges}}</h3>
											</li>
										</ul>
									</div>
								</div>
							</div>
                          
                          
                          
						</div>
