
				      <div class="viewData-wrapper">
							<div class="viewData-threeColumn--wrapper">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li class= "activity-status-list-item"><img class="activity-status-list-item-img"src="{{$ctrl.data.style_dot_image_url}}">
												<p>Service Charges</p>
												<h3>{{$ctrl.data.service_charges}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li class= "activity-status-list-item"><img class="activity-status-list-item-img"src="{{$ctrl.data.style_dot_image_url}}">
												<p>Membership Charges</p>
												<h3>{{$ctrl.data.membership_charges}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li class= "activity-status-list-item"><img class="activity-status-list-item-img"src="{{$ctrl.data.style_dot_image_url}}">
												<p>Eatable Items Charges</p>
												<h3>{{$ctrl.data.eatable_items_charges}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li class= "activity-status-list-item"><img class="activity-status-list-item-img"src="{{$ctrl.data.style_dot_image_url}}">
												<p>Toll Charges</p>
												<h3>{{$ctrl.data.toll_charges}}</h3>
											</li>
										</ul>
									</div>
								</div>
							</div>
                          <div class="viewData-threeColumn--wrapper">

								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li class= "activity-status-list-item"><img class="activity-status-list-item-img"src="{{$ctrl.data.style_dot_image_url}}">
												<p>Green Tax Charges</p>
												<h3>{{$ctrl.data.green_tax_charges}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li class= "activity-status-list-item"><img class="activity-status-list-item-img"src="{{$ctrl.data.style_dot_image_url}}">
												<p>Border Charges</p>
												<h3>{{$ctrl.data.border_charges}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li class= "activity-status-list-item"><img class="activity-status-list-item-img"src="{{$ctrl.data.style_dot_image_url}}">
												<p>Octroi Charges</p>
												<h3>{{$ctrl.data.octroi_charges}}</h3>
											</li>
										</ul>
									</div>
								</div>
							</div>
                          
                          
                          
						</div>
