				    
				      <div class="viewData-wrapper">
							<div class="viewData-threeColumn--wrapper">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Invoice Number</p>
												<h3>{{$ctrl.data.invoice_no}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Invoice Date</p>
												<h3>{{$ctrl.data.start_date}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Invoice Amount</p>
												<h3>{{$ctrl.data.invoice_amount}}</h3>
											</li>
										</ul>
									</div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{ asset('resources/assets/images/oval.svg') }}"></li>
											<li>
												<p>Invoice Status</p>
												<h3>{{$ctrl.data.flow_current_status}}</h3>
											</li>
										</ul>
									</div>
								</div>
							</div>
                          
                          
						</div>
				    