				      <div class="viewData-wrapper">
							<div class="viewData-threeColumn--wrapper">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Onward Google KM</p>
												<h3>{{$ctrl.data.onward_google_km}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Dealer Google KM</p>
												<h3>{{$ctrl.data.dealer_google_km}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Return Google KM</p>
												<h3>{{$ctrl.data.return_google_km}}</h3>
											</li>
										</ul>
									</div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Onward KM</p>
												<h3>{{$ctrl.data.onward_km}}</h3>
											</li>
										</ul>
									</div>
								</div>
							</div>
                          <div class="viewData-threeColumn--wrapper">
							
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Dealer KM</p>
												<h3>{{$ctrl.data.dealer_km}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Return KM</p>
												<h3>{{$ctrl.data.return_km}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>CC Total KM</p>
												<h3>{{$ctrl.data.cc_total_km}}</h3>
											</li>
										</ul>
									</div>

									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Total KM</p>
												<h3>{{$ctrl.data.cc_total_km}}</h3>
											</li>
										</ul>
									</div>
									
								</div>
							</div>
						</div>
