				    
				      <div class="viewData-wrapper">
							<div class="viewData-threeColumn--wrapper">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Dropped Lat</p>
												<h3>{{$ctrl.data.drop_location_lat}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>Dropped Long</p>
												<h3>{{$ctrl.data.drop_location_long}}</h3>
											</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>ASP Start Location</p>
												<h3>{{$ctrl.data.asp_start_location}}</h3>
											</li>
										</ul>
									</div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>ASP End Location</p>
												<h3>{{$ctrl.data.asp_end_location}}</h3>
											</li>
										</ul>
									</div>
								</div>
							</div>
                          
                          <div class="viewData-threeColumn--wrapper">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3">
										<ul class="viewData-threeColumn--group m-t-50 m-b-20">
											<li><img src="{{$ctrl.data.style_dot_image_url}}"></li>
											<li>
												<p>ASP Reached Date</p>
												<h3>{{$ctrl.data.asp_reached_date}}</h3>
											</li>
										</ul>
									</div>
									
								</div>
							</div>

                      

                          
						</div>