<div class="viewData-wrapper">
    <div class="viewData-toggle--wrapper">
        <div class="viewData-toggle--wrapper">
            <div class="viewData-toggle--inner">
                <h2 class="viewData-toggle--title pull-left">
                    Case Details
                </h2>
                <span class="viewData-toggle--btn pull-right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                <div class="clearfix"></div>
                <ul>
                    <li>Case # : <span>{{$ctrl.data.number}}</span></li>
                    <li>Case Status : <span>{{$ctrl.data.case_status}}</span></li>
                    <li>Case Date : <span>{{$ctrl.data.case_date}}</span></li>
                </ul>
                <div class="clearfix"></div>
                <div class="viewData-threeColumn--wrapper">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <ul class="viewData-threeColumn--group">
                                <li><img src="{{ $ctrl.data.style_location_image_url}}"></li>
                                <li>
                                    <p>
                                        Customer Name : <br /> {{$ctrl.data.case_date}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <ul class="viewData-threeColumn--group">
                                <li><img src="{{ $ctrl.data.style_phone_image_url}}"></li>
                                <li>
                                    <p>
                                        Customer Contact Number : <br />
                                        {{$ctrl.data.customer_contact_number}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <ul class="viewData-threeColumn--group">
                                <li><img src="{{ $ctrl.data.style_profile_image_url}}"></li>
                                <li>
                                    <p>
                                        Vehicle Details : <br />
                                        {{$ctrl.data.vehicle_registration_number}} |
                                        {{$ctrl.data.vehicle_model}} - {{$ctrl.data.vehicle_make}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-8 col-md-6 col-lg-10 text-center">
                <ul class="nav nav-tabs customTab-group nav-custom-group">
                    <li class="active wid-14"><a data-toggle="tab" data-target="#bill">Billing Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#activity" aria-expanded="false">Activity Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#location" aria-expanded="false">Location Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#km" aria-expanded="false">KM Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#invoice" aria-expanded="false">Invoice Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#financial" aria-expanded="false">Financial Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#case" aria-expanded="false">Case Details</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>