<div class="viewData-wrapper">
    <div class="viewData-toggle--wrapper">
        <asp-details data="$ctrl.data"></asp-details>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-sm-8 col-md-6 col-lg-10 text-center">
                <ul class="nav nav-tabs customTab-group nav-custom-group">
                    <li class="active wid-14"><a data-toggle="tab" data-target="#bill">Billing Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#activity" aria-expanded="false">Activity Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#location" aria-expanded="false">Location Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#km" aria-expanded="false">KM Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#invoice" aria-expanded="false">Invoice Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#financial" aria-expanded="false">Financial Details</a></li>
                    <li class="wid-14"><a data-toggle="tab" data-target="#case" aria-expanded="false">Case Details</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>