<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#">ASP Activities</a></li>
            <li><a href="#!/rsa-case-pkg/activity-status/list">Status</a></li>
        </ul>
    </div>
</div><!-- Column -->
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="dataTable--left_wrapper">
                        <h2 class="dataTable-title">
                            Status
                            <a href="javascript:void(0)" class="btn-refresh" ng-click="refresh()" data-toggle="tooltip" title="Refresh">
                                <img class="img-refresh" src="./resources/assets/images/refresh-arrow.svg" alt="Refresh" />
                            </a>
                        </h2>
                        <p>Total - <span class="orange-txt"><span class="count">0</span></span></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="dataTable-top--right_wrapper">
                        <ul class="dataTable-top--right_group list-inline">
                            <!-- <div class="float-right"> -->
                            <li ng-if="$ctrl.canImportActivity">
                                <a href="#!/import-cron-job-pkg/import-job/form/1" class="addNew-data">
                                    Import
                                </a>
                            </li>
                            <li ng-if="$ctrl.hasPermission('export-activities') || $ctrl.hasPermission('export-own-activities')"> <button class="btn btn-md preview-batch export" data-toggle="modal" data-target="#asp_excel_export">Export</button></li>
                            <li ng-if="$ctrl.hasPermission('release-onhold-case')">
                                <button class="btn btn-md preview-batch export" data-toggle="modal" data-target="#release-onhold-case">
                                    Release OnHold
                                </button>
                            </li>                            
                            <!-- </div> -->
                            <!-- <li><a href="javascript:void(0)" class="btn btn-md" ng-click="">Export</a></li> -->
                            <li><input class="filterTable" type="text" placeholder="Search"></li>
                            <li>
                                <img src="<% $ctrl.filter_img_url %>" class="filterToggle">
                                <div class="filter-wrapper" id='filterticket'>
                                    <div class="filter-overlay"></div>
                                    <div class="filter-content">
                                        <div class="filter-header">
                                            <h2>Ticket Filter</h2>
                                        </div>
                                        <div class="filter-body">
                                            <div class="row">
                                                <!-- <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input ng-model="$ctrl.ticket_filter.ticket_date" id="ticket_date" class="form-control filter-input date-picker" type="text" placeholder="Date" autocomplete="off">
                                                    </div>
                                                </div> -->
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control filter-input daterange" autocomplete="off" name="date_range_period" type="text" value='' id="date_range_period" placeholder="Select Period" ng-model="$ctrl.ticket_filter.date_range_period">
                                                    </div><!-- Field -->
                                                </div><!-- Column -->
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <md-select ng-model="$ctrl.ticket_filter.call_center_id" ng-change="changeCommonFilter($ctrl.ticket_filter.call_center_id, 'call_center_id')" placeholder="Select Call Center">
                                                            <md-option ng-repeat="val in $ctrl.extras.call_center_list" value="{{val.id}}">{{val.name}}</md-option>
                                                        </md-select>
                                                        <input type="hidden" name="call_center_id" value="" id="call_center_id">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input ng-model="$ctrl.ticket_filter.case_number" id="case_number" class="form-control filter-input" type="text" placeholder="Case Number" autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input ng-model="$ctrl.ticket_filter.asp_code" id="asp_code" class="form-control filter-input" type="text" placeholder="ASP Code" autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <md-select ng-model="$ctrl.ticket_filter.service_type_id" ng-change="changeCommonFilter($ctrl.ticket_filter.service_type_id,'service_type_id')" placeholder="Select Service Type">
                                                            <md-option ng-repeat="val in $ctrl.extras.service_type_list" value="{{val.id}}">{{val.name}}</md-option>
                                                        </md-select>
                                                        <input type="hidden" name="service_type_id" value="" id="service_type_id">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <md-select ng-model="$ctrl.ticket_filter.finance_status_id" ng-change="changeCommonFilter($ctrl.ticket_filter.finance_status_id,'finance_status_id')" placeholder="Select Finance Status">
                                                            <md-option ng-repeat="val in $ctrl.extras.finance_status_list" value="{{val.id}}">{{val.name}}</md-option>
                                                        </md-select>
                                                        <input type="hidden" name="finance_status_id" value="" id="finance_status_id">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <md-select ng-model="$ctrl.ticket_filter.status_id" ng-change="changeCommonFilter($ctrl.ticket_filter.status_id,'status_id')" placeholder="Select Portal Status">
                                                            <md-option ng-repeat="val in $ctrl.extras.status_list" value="{{val.id}}">{{val.name}}</md-option>
                                                        </md-select>
                                                        <input type="hidden" name="status_id" value="" id="status_id">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <md-select ng-model="$ctrl.ticket_filter.activity_status_id" ng-change="changeCommonFilter($ctrl.ticket_filter.activity_status_id,'activity_status_id')" placeholder="Select Activity Status">
                                                            <md-option ng-repeat="val in $ctrl.extras.activity_status_list" value="{{val.id}}">{{val.name}}</md-option>
                                                        </md-select>
                                                        <input type="hidden" name="activity_status_id" value="" id="activity_status_id">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <md-select ng-model="$ctrl.ticket_filter.client_id" ng-change="changeCommonFilter($ctrl.ticket_filter.client_id,'client_id')" placeholder="Select Client">
                                                            <md-option ng-repeat="val in $ctrl.extras.client_list" value="{{val.id}}">{{val.name}}</md-option>
                                                        </md-select>
                                                        <input type="hidden" name="client_id" value="" id="client_id">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="filter-btns">
                                                            <a href="javascript:;" class="reset-filter  btn btn-primary yellow" ng-click="resetFilter()">RESET</a>
                                                            <a href="javascript:;" class="close-filter btn btn-primary">CLOSE</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="activities_status_table" class="display table dataTable">
                    <thead>
                        <tr>
                            <th>Actions</th>
                            <th>Date</th>
                            <th>Case Number</th>
                            <th>Vehicle Number</th>
                            <th>ASP Code / Name</th>
                            <th>CRM Activity ID</th>
                            <th>Source</th>
                            <!-- <th>Activity Number</th> -->
                            <th>Service</th>
                            <!-- <th>ASP Status</th> -->
                            <th>Finance Status</th>
                            <th>Status</th>
                            <th>Activity Status</th>
                            <th>Client</th>
                            <th>Call Center</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade asp_for_find" id="ticket_back_asp_Modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{$ctrl.modal_close}}"></button>
                <h4 class="modal-title">Ticket Back Step</h4>
            </div>
            <form id="tickect-back-asp-form" name="tickect_back_asp_form" action="{{$ctrl.activity_back_asp_update_route}}" method="post">
                <input type="hidden" name="_token" value="{{$ctrl.csrf}}" />
                <input type="hidden" name="activty_id" id="activty_id" value="{{$ctrl.activity_form_data.id}}" ng-model="$ctrl.activity_form_data.id">
                <input type="hidden" name="ticket_status_id" id="ticket_status_id" ng-model="$ctrl.activity_form_data.status_id">
                <div class="alert alert-danger" style="display: none;"></div>
                <div class="modal-body">
                    <div class="approvalModal-wrapper">
                        <div class="viewData-threeColumn--wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <label>Activity Number</label>
                                                <span id="ticket_no" style="font-size: 18px;">{{$ctrl.activity_form_data.activity_number}}</span>
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-sm-6">
                                        </div><!-- Column -->
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <div class="approvalModal-btns">
                                                    Click Here
                                                    <button type="button" class="differed-btn blue approve-btn" ng-click="asp_data_entry_submit()" id="asp_data_entry_submit">ASP Rejected CC Details - Waiting for ASP Data Entry</button>
                                                </div>
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <div class="approvalModal-btns">
                                                    Click Here
                                                    <button type="button" ng-click="asp_bo_deffered_submit()" class="differed-btn blue approve-btn" id="asp_bo_deffered_submit">BO Rejected - Waiting for ASP Data Re-Entry</button>
                                                </div>
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                    </div>
                                </div><!-- row -->
                            </div><!-- Column -->
                        </div><!-- Row -->
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade asp_for_find" id="asp_excel_export" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img class="close_btn" src="{{ $ctrl.modal_close }}">
                </a>
                <h4 class="modal-title">Export Activities</h4>
            </div>
            <form id="export_excel_form" name="export_excel_form" action="{{$ctrl.export_activities}}" method="post">
                <input type="hidden" name="_token" value="{{$ctrl.csrf}}" />
                <div ng-if="$ctrl.hasPermission('export-own-activities')">
                    <input type="hidden" name="asp_id" value="{{$ctrl.auth_user_details.entity_id}}" />
                    <input type="hidden" name="filter_by" value="general"/>
                </div>

                <div class="modal-body">
                    <div class="approvalModal-wrapper">
                        <div class="viewData-threeColumn--wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <label>Period<sup class="req" style="color:red">*</sup></label>
                                                <input class="form-control customForm-input" autocomplete="off" name="period" type="text" value='' ng-model="$ctrl.period" ng-required="true">
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <label>Activity Status<sup class="req" style="color:red">*</sup></label>
                                                <md-select ng-model="$ctrl.status_ids" md-on-close="clearSearchTerm()" name="status_ids" data-md-container-class="selectdemoSelectHeader" multiple md-no-asterisk class="error_messages required" ng-required="true" placeholder="Select Activity Status" ng-change="changeStatus($ctrl.status_ids)">
                                                    <md-select-header class="demo-select-header mdselect-header">
                                                        <input ng-model="searchTerm" type="search" placeholder="Search for a Activity Status" class="demo-header-searchbox md-text" onkeydown="mdSelectOnKeyDownOverride(event)">
                                                    </md-select-header>
                                                    <md-optgroup label="activity_portal_status">
                                                        <md-button class="select-all-button" layout-fill ng-value="$ctrl.pc_all" ng-click="selectAll($ctrl.pc_all)" id="pc_sel_all">All</md-button>
                                                        <md-option ng-value="status.id" ng-repeat="status in $ctrl.status_list |filter:searchTerm">{{status.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="status_ids" value="{{$ctrl.status_ids}}" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <label>Ticket Number</label>
                                                <input type="text" value="" name="ticket" id="ticket_export" class="form-control valid" placeholder="Enter Ticket Number" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-sm-6" ng-if= "!$ctrl.hasPermission('export-own-activities')">
                                            <div class="input-text form-group">
                                                <label>ASP</label>
                                                <md-autocomplete class="type-sm" md-items="option in $ctrl.searchAsps($ctrl.aspSearchText)" md-input-id="autoFocusId" md-selected-item="$ctrl.asp" md-search-text="$ctrl.aspSearchText" md-item-text="option.workshop" md-min-length="3" placeholder="Search ASP Code / Name" md-clear-button="true" md-no-cache="true">
                                                    <md-item-template>
                                                        <span>
                                                            {{option.name}} / {{option.workshop}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        No matching "{{$ctrl.aspSearchText}}" were found.
                                                    </md-not-found>
                                                </md-autocomplete>
                                                <input type="hidden" name="asp_id" value="{{$ctrl.asp.id}}" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <label>Client</label>
                                                 <md-autocomplete class="type-sm" md-items="option in $ctrl.searchClients($ctrl.clientSearchText)" md-input-id="autoFocusId" md-selected-item="$ctrl.client" md-search-text="$ctrl.clientSearchText" md-item-text="option.name" md-min-length="3" placeholder="Search Client" md-clear-button="true" md-no-cache="true">
                                                    <md-item-template>
                                                        <span>
                                                            {{option.name}}
                                                        </span>
                                                    </md-item-template>
                                                    <md-not-found>
                                                        No matching "{{$ctrl.clientSearchText}}" were found.
                                                    </md-not-found>
                                                </md-autocomplete>
                                                <input type="hidden" name="client_id" value="{{$ctrl.client.id}}" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6" ng-if= "!$ctrl.hasPermission('export-own-activities')">
                                            <div class="input-text form-group">
                                                <label>Filter By </label>
                                                <div class="radio-button">
                                                    <label class="radio-item">
                                                        General
                                                        <input type="radio" name="filter_by" value="general" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="radio-item">
                                                        Activity
                                                        <input type="radio" name="filter_by" value="activity" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div><!-- Field -->
                                        </div><!-- Column -->                                        
                                    </div>
                                    <div class="alert alert-danger">Sometimes Export may take few minutes to export large amount of data. So please be patient.</div>
                                    <div class="approvalModal-btns">
                                        <button type="submit" class="differed-btn blue approve-btn">Export</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="release-onhold-case" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img class="close_btn" src="{{ $ctrl.modal_close }}">
                </a>
                <h4 class="modal-title">Release OnHold Cases</h4>
            </div>
            <form id="release_onhold_case_form" action="{{$ctrl.releaseOnHold}}" method="post">
                <input type="hidden" name="_token" value="{{$ctrl.csrf}}" />
                <div class="modal-body">
                    <div class="approvalModal-wrapper">
                        <div class="viewData-threeColumn--wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <label>Case Date<sup class="req" style="color:red">*</sup></label>
                                                <input name="case_date" id="case_date" class="form-control filter-input date-picker customForm-input" type="text" placeholder="Case Date" autocomplete="off">
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                    </div>
                                    <div class="approvalModal-btns">
                                        <button type="submit" id="submit_id" class="differed-btn blue approve-btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- Modal -->