<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#">ASP Invoices</a></li>
            <li><a href="#!/rsa-case-pkg/invoice/list/{{$ctrl.type_id}}">{{$ctrl.extras.title}}</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable--left_wrapper">
                        <h2 class="dataTable-title">
                            {{$ctrl.extras.title}}
                            <a href="javascript:void(0)" class="btn-refresh" ng-click="refresh()" data-toggle="tooltip" title="Refresh">
                                <img class="img-refresh" src="./resources/assets/images/refresh-arrow.svg" alt="Refresh" />
                            </a>
                        </h2>
                        <p>Total - <span class="orange-txt"><span class="count">0</span></span></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable-top--right_wrapper">
                        <ul class="dataTable-top--right_group list-inline">
                            <li><input class="filterTable" type="text" placeholder="Search"></li>
                            <!-- <li><a href="javascript:void(0)" class="btn btn-md" ng-click="refresh()">Refresh</a></li> -->
                            <li>
                                <img src="<% $ctrl.filter_img_url %>" class="filterToggle">
                                <div class="filter-wrapper" id='filterticket'>
                                    <div class="filter-overlay"></div>
                                    <div class="filter-content">
                                        <div class="filter-header">
                                            <h2>{{$ctrl.extras.title}} Filter</h2>
                                        </div>
                                        <div class="filter-body">
                                            <div class="form-group">
                                                <input name="date" id="date" class="form-control filter-input date-picker" type="text" placeholder="Date" autocomplete="off">
                                            </div>
                                            <!-- <div class="form-group">
                                                <md-select ng-model="$ctrl.call_center_id" ng-change="changeCommonFilter()">
                                                    <md-option ng-repeat="val in $ctrl.extras.asp_list" value="{{val.id}}">{{val.name}}</md-option>
                                                </md-select>
                                                <input type="hidden" name="call_center_id" value="{{$ctrl.call_center_id}}" id="call_center_id">
                                            </div> -->
                                            <div class="form-group">
                                                <div class="filter-btns">
                                                    <a href="javascript:;" class="reset-filter  btn btn-primary yellow reset-filter1">RESET</a>
                                                    <a href="javascript:;" class="close-filter btn btn-primary">CLOSE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <form id="invoice_export" name="invoice_export_form" method="post" action="{{$ctrl.export_invoices_url}}">
                    <input type="hidden" name="_token" value="{{$ctrl.csrf}}" />
                    <table id="invoice_table" class="display table dataTable row_linked_table">
                        <thead>
                            <tr>
                                <th ng-if="$ctrl.type_id != 3 && $ctrl.canExport"><input type="checkbox" class="check_all" id="select_all_checkbox" autocomplete="off"></th>
                                <th>Invoice Number</th>
                                <th>Invoice Date</th>
                                <th>ASP Code</th>
                                <th>Workshop Name</th>
                                <th>No of Activities</th>
                                <th>Payment Status</th>
                                <th>Invoice Amount</th>
                            </tr>
                        </thead>
                    </table>
                    <button ng-if="$ctrl.canExport && $ctrl.type_id != 3" type="submit" id="submit" class="approve-btn pull-right preview-batch">Export Payment Details</button>
                </form>
            </div>
        </div>
    </div>
</div>