<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#">ASP Invoices</a></li>
            <li><a href="#!/rsa-case-pkg/invoice/list/{{$ctrl.type_id}}">{{$ctrl.extras.title}}</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable--left_wrapper">
                        <h2 class="dataTable-title">
                            {{$ctrl.extras.title}}
                            <a href="javascript:void(0)" class="btn-refresh" ng-click="refresh()" data-toggle="tooltip" title="Refresh">
                                <img class="img-refresh" src="./resources/assets/images/refresh-arrow.svg" alt="Refresh" />
                            </a>
                        </h2>
                        <p>Total - <span class="orange-txt"><span class="count">0</span></span></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable-top--right_wrapper">
                        <ul class="dataTable-top--right_group list-inline">
                            <li ng-if="$ctrl.hasPermission('export-asp-unpaid-invoices') && $ctrl.type_id != 3">
                                <button class="btn btn-primary yellow customForm-btn" data-target="#asp-invoice-export-modal" type="button" data-toggle="modal">EXPORT</button>
                            </li>
                            <li><input class="filterTable" type="text" placeholder="Search"></li>
                            <li>
                                <img src="<% $ctrl.filter_img_url %>" class="filterToggle">
                                <div class="filter-wrapper" id='filterticket'>
                                    <div class="filter-overlay"></div>
                                    <div class="filter-content">
                                        <div class="filter-header">
                                            <h2>{{$ctrl.extras.title}} Filter</h2>
                                        </div>
                                        <div class="filter-body">
                                            <div class="form-group">
                                                <input name="date" id="date" class="form-control filter-input date-picker" type="text" placeholder="Date" autocomplete="off">
                                            </div>
                                            <div class="form-group">
                                                <div class="filter-btns">
                                                    <a href="javascript:;" class="reset-filter  btn btn-primary yellow reset-filter1">RESET</a>
                                                    <a href="javascript:;" class="close-filter btn btn-primary">CLOSE</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="invoice_table" class="display table dataTable row_linked_table">
                    <thead>
                        <tr>
                            <th ng-if="$ctrl.hasPermission('cancel-asp-unpaid-invoices') && $ctrl.type_id != 3"><input type="checkbox" class="check_all" id="select_all_checkbox" autocomplete="off"></th>
                            <th>Invoice Number</th>
                            <th>Invoice Date</th>
                            <th>ASP Code</th>
                            <th>Workshop Name</th>
                            <th>No of Activities</th>
                            <th>Payment Status</th>
                            <th>Invoice Amount</th>
                        </tr>
                    </thead>
                </table>
                <button ng-if="$ctrl.hasPermission('cancel-asp-unpaid-invoices') && $ctrl.type_id != 3" type="button" id="cancelInvoiceBtn" class="approve-btn pull-right preview-batch" ng-click="cancelInvoice()" style="margin-right: 10px;">Cancel Invoice</button>
            </div>
        </div>
    </div>
</div>
<!-- Export Modal -->
<div class="modal fade" id="asp-invoice-export-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img class="close_btn" src="{{ $ctrl.modal_close }}">
                </a>
                <h4 class="modal-title">Export Invoice</h4>
            </div>
            <form method="post" action="{{$ctrl.export_invoices_url}}" autocomplete="off">
                <input type="hidden" name="_token" value="{{$ctrl.csrf}}" />
                <input type="hidden" name="typeId" value="{{$ctrl.type_id}}" />
                <div class="modal-body">
                    <div class="approvalModal-wrapper">
                        <div class="viewData-threeColumn--wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="input-text form-group">
                                                <label>Period</label>
                                                <input class="form-control customForm-input" type="text" placeholder="Select Date Range" name="exportPeriod" autocomplete="off" id="exportPeriod" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="approvalModal-btns text-right">
                                        <button type="submit" class="btn btn-primary yellow customForm-btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->