<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#">Activities</a></li>
            <li><a href="#!/rsa-case-pkg/activity-search">Search</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="dataTable--left_wrapper">
                        <h2 class="dataTable-title">Activity Search</h2>
                        <p><span class="orange-txt"></span></p>
                    </div>
                </div>
            </div><!-- Row -->
            <div class="viewData-wrapper mb-30">
                <div class="viewData-toggle--wrapper">
                    <div class="noToggle--inner">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>Case Number / Vehicle Registration Number / Mobile Number / CRM Activity ID<sup class="req">*</sup></label>
                                <div class="input-group" style="display: flex;">
                                    <input type="text" ng-model="$ctrl.vi_number" class="form-control" name="vi_number" placeholder="Enter Case Number / Vehicle Registration Number / Mobile Number / CRM Activity ID" autocomplete="off">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" id="vin-search" ng-click="searchActivity($ctrl.vi_number)">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-20"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="dataTable--left_wrapper">
                                            <h2 class="dataTable-title">
                                                <!-- <span>Invoice Details</span> -->
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="activityTable" class="table" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Actions</th>
                                                <th>Date</th>
                                                <th>Case Number</th>
                                                <th>Vehicle Number</th>
                                                <th>ASP Code</th>
                                                <th>CRM Activity ID</th>
                                                <th>Source</th>
                                                <th>Service</th>
                                                <th>Finance Status</th>
                                                <th>Status</th>
                                                <th>Activity Status</th>
                                                <th>Client</th>
                                                <th>Call Center</th>
                                            </tr>
                                        </thead>
                                        <tbody id="activityTbody">
                                            <tr ng-repeat="(index, activity) in $ctrl.activities">
                                                <td>
                                                    <div class="dataTable-actions" ng-if="activity.url != '' " style="min-width: 125px;">
                                                        <a href="{{activity.url}}">
                                                            <i class="fa fa-eye dataTable-icon--view" aria-hidden="true">
                                                            </i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{activity.case_date}}
                                                </td>
                                                <td>
                                                    {{activity.case_number}}
                                                </td>
                                                <td>
                                                    {{activity.vehicle_registration_number}}
                                                </td>
                                                <td>
                                                    {{activity.asp ? activity.asp : '--'}}
                                                </td>
                                                <td>
                                                    {{activity.crm_activity_id}}
                                                </td>
                                                <td>
                                                    {{activity.source}}
                                                </td>
                                                <td>
                                                    {{activity.sub_service}}
                                                </td>
                                                <td>
                                                    {{activity.finance_status}}
                                                </td>
                                                <td>
                                                    {{activity.status}}
                                                </td>
                                                <td>
                                                    {{activity.activity_status}}
                                                </td>
                                                <td>
                                                    {{activity.client}}
                                                </td>
                                                <td>
                                                    {{activity.call_center}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- Responsive -->
                                <div class="mt-20"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div><!-- View Date Wrapper -->
        </div><!-- Column -->
    </div><!-- Row -->
</div><!-- Container Fluid -->
<div class="row">
    <div class="col-md-12">
        <!-- Button Loader Starts -->
        <div class="loader-type-2 loader-hide">
            <div class="loader-inner"></div>
        </div>
        <!-- Button Loader Ends -->
    </div>
</div>