<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li ng-if="$ctrl.type_id == 2"><a href="#!/rsa-case-pkg/batch-generation/list">Batch Generation</a></li>
            <li ng-if="$ctrl.type_id != 2"><a href="#!/rsa-case-pkg/invoice/list">Invoice</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="dataTable--left_wrapper">
                            <h2 class="dataTable-title"> Invoice File</h2>
                            <p><span class="orange-txt"></span>Period : {{$ctrl.period}}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="bill" class="tab-pane fade in active">
                        <div class="viewData-wrapper">
                            <div class="viewData-accordion">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="dataTable--left_wrapper">
                                            <h2 class="dataTable-title">Invoice</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div id="bill" class="tab-pane fade in active">
                                        <div class="viewData-wrapper">
                                            <div class="viewData-toggle--wrapper">
                                                <div class="viewData-toggle--inner">
                                                    <h2 class="viewData-toggle--title pull-left">
                                                        {{$ctrl.asp.name}}
                                                    </h2>
                                                    <span class="viewData-toggle--btn pull-right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                                    <div class="clearfix"></div>
                                                    <ul>
                                                        <li>ASP Code : <span>{{$ctrl.asp.asp_code}}</span></li>
                                                        <li ng-if="$ctrl.asp.asp_code != 'NULL'">ASP Type :
                                                            <span>
                                                                {{$ctrl.asp.is_self ? 'Self' : 'Non Self'}}
                                                            </span>
                                                        </li>
                                                        <li ng-if="$ctrl.asp.asp_code != 'NULL'">ASP has GST :
                                                            <span>
                                                                {{$ctrl.asp.has_gst ? 'Yes' : 'No'}}
                                                            </span>
                                                        </li>
                                                        <li ng-if="$ctrl.asp.is_self && $ctrl.asp.has_gst">Auto Invoice :
                                                            <span>
                                                                {{$ctrl.asp.is_auto_invoice ? 'Yes' : 'No'}}
                                                            </span>
                                                        </li>
                                                        <li>Tier :
                                                            <span>
                                                                {{$ctrl.asp.tier}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                    <div class="viewData-threeColumn--wrapper">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-4">
                                                                <ul class="viewData-threeColumn--group">
                                                                    <li><img src="./resources/assets/images/ic-location.svg"></li>
                                                                    <li>
                                                                        <p>
                                                                            {{$ctrl.asp.workshop_name}} <br>
                                                                            {{$ctrl.asp.address_line_1}}<br>
                                                                            {{$ctrl.asp.address_line_2}}<br>
                                                                        </p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-4">
                                                                <ul class="viewData-threeColumn--group">
                                                                    <li><img src="./resources/assets/images/ic-phone.svg"></li>
                                                                    <li>
                                                                        <p>{{$ctrl.asp.contact_number1}}<br><a href="javascript:;">{{$ctrl.asp.email}}</a></p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-4">
                                                                <ul class="viewData-threeColumn--group">
                                                                    <li><img src="./resources/assets/images/ic-profile.svg"></li>
                                                                    <li>
                                                                        <p>RM: {{$ctrl.asp.rm.name}}<br> RM Mobile: {{$ctrl.asp.rm.contact_number}} </p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div id="bill" class="tab-pane fade in active">
                                        <div class="viewData-wrapper">
                                            <div class="viewData-toggle--wrapper">
                                                <label class="title-label">Invoice Details</label>
                                                <div class="noToggle--inner">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aai-head-left">
                                                            <div class="aai-head-left-title">Invoice</div>
                                                            <div class="aai-head-left-address">
                                                                <p>
                                                                    TVS Auto Assist (India) Limited<br />9th Floor, Kochar Bliss,<br />Plot No. Super A8 & 9,<br />Thiru-Vi-Ka Industrial Estate,<br />Guindy,<br />Chennai – 600032<br />TVS AUTO ASSIST (INDIA) LIMITED<br /> GST- 33AANCA3184D1ZV
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aai-head-right">
                                                            <div class="aai-head-right1">
                                                                <table style="width:100%">
                                                                    <tr>
                                                                        <td class="text-right">Invoice No :</td>
                                                                        <td><span>{{$ctrl.invoice.invoice_no}}-{{$ctrl.invoice.id}}</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right">Invoice Date :</td>
                                                                        <td><span>{{$ctrl.invoice.created_at}}</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right">GST Registration Number :</td>
                                                                        <td><span ng-if="$ctrl.invoice.asp_gst_registration_number != ''">
                                                                                {{$ctrl.invoice.asp_gst_registration_number}}
                                                                            </span>
                                                                            <span ng-if="$ctrl.invoice.asp_gst_registration_number == ''">
                                                                                {{$ctrl.invoice.gst_registration_number}}
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right">PAN Number :</td>
                                                                        <td>
                                                                            <span ng-if="$ctrl.invoice.asp_pan_number != ''">
                                                                                {{$ctrl.invoice.asp_pan_number}}
                                                                            </span>
                                                                            <span ng-if="$ctrl.invoice.asp_pan_number == ''">
                                                                                {{$ctrl.invoice.pan_number}}
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row viewData-identification--wrapper">
                                                        <div class="viewData-form--wrapper">
                                                            <div id="about40" class="tab-pane fade in active">
                                                                <p class="p-l-20">
                                                                </p>
                                                                <div class="table-responsive">
                                                                    <table id="aspLogin-table" class="display table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Ticket Number</th>
                                                                                <th>Ticket Date</th>
                                                                                <th>Ticket Status</th>
                                                                                <th>Call Center</th>
                                                                                <th>Vehicle Registration Number</th>
                                                                                <th>Service Type</th>
                                                                                <th>KM</th>
                                                                                <th class="text-right">Net Amount</th>
                                                                                <th class="text-right">Collected Amount</th>
                                                                                <th class="text-right">Total Tax</th>
                                                                                <th class="text-right">Not Collected Amount</th>
                                                                                <th class="text-right">Amount</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="(index, activity) in $ctrl.activities">
                                                                                <td>
                                                                                    {{activity.number}}
                                                                                </td>
                                                                                <td>
                                                                                    {{activity.date}}
                                                                                </td>
                                                                                <td>
                                                                                    {{activity.status}}
                                                                                </td>
                                                                                <td>
                                                                                    {{activity.callcenter}}
                                                                                </td>
                                                                                <td>
                                                                                    {{activity.vehicle_registration_number}}
                                                                                </td>
                                                                                <td>
                                                                                    {{activity.service_type}}
                                                                                </td>
                                                                                <td>
                                                                                    {{activity.km_value | number : 2}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{activity.net_value | number : 2}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{activity.collect_value | number : 2}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    0
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{activity.not_collect_value | number : 2}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{activity.total_value | number : 2}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div><!-- Responsive -->
                                                                <div class="amountinwords">{{$ctrl.invoice_amount_in_word}} only</div>
                                                                <div class="netamount pull-right">
                                                                    <span>Net Amount</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <span class="amount">
                                                                        <i class="fa fa-inr" aria-hidden="true"></i> {{$ctrl.invoice_amount}}
                                                                    </span>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                                <div class="aai_footer">
                                                                    <p class=" pull-left"> Bank Details:<br />
                                                                        Name : {{$ctrl.asp.workshop_name}} | Acc Number : {{$ctrl.asp.bank_account_number}} | Bank : {{$ctrl.asp.bank_name}} | Branch : {{$ctrl.asp.bank_branch_name}} | Ifsc : {{$ctrl.asp.bank_ifsc_code}}
                                                                    </p>
                                                                    <p ng-show="$ctrl.signature_attachment != ''" class="pull-right"><img src="{{$ctrl.signature_attachment_path}}/{{$ctrl.asp.id}}/{{$ctrl.signature_attachment.attachment_file_name}}" weight="80px" height="50px" align="right"></p>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewData-accordion--btns">
                                    <label>Total Net Amount <span><i class="fa fa-inr" aria-hidden="true"></i>{{$ctrl.invoice_amount}}</span></label>
                                    <div class="clearfix"></div>
                                </div>
                                <div ng-if="$ctrl.invoice_availability == 'yes'" class="ccdv_btn multiUpload-wrapper" style="overflow: hidden; color: #333333; display: inline-grid; font-weight: 700; font-size: 20px; margin-top: 10px;">
                                    Uploaded Invoice
                                    <a href="{{$ctrl.invoice_attachment_file}}" download>Download</a>
                                </div>
                                <div ng-if="$ctrl.invoice_availability == 'no'" class="ccdv_btn multiUpload-wrapper" style="overflow: hidden; color: #333333; display: inline-grid; font-weight: 700; font-size: 20px; margin-top: 10px; margin-left:50px;">
                                    System Invoice
                                    <a href="{{$ctrl.invoice_pdf_generate_url}}/{{$ctrl.invoice.id}}" class="approve-btn pull-left preview-batch">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button type="submit" class="approve-btn pull-right preview-batch">Approve</button> -->
            </form>
        </div>
    </div>
</div>