<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#!/rsa-case-pkg/new-activity">New Ticket</a></li>
            <li><a href="#">Update Ticket</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid asp_for_find">
    <div class="dataTable-content--wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="dataTable--left_wrapper">
                            <h2 class="dataTable-title customForm-title" ng-if="!$ctrl.activity.asp">
                                Update Ticket - {{$ctrl.case_details.number}}({{$ctrl.case_details.date}})
                            </h2>
                            <h2 class="dataTable-title customForm-title" ng-if="$ctrl.activity.asp">
                                Update Ticket({{$ctrl.activity.asp.asp_code}}) - {{$ctrl.case_details.number}}({{$ctrl.case_details.date}})
                            </h2>
                        </div>
                    </div>
                </div>
                <form id="new-tickect-form" enctype="multipart-formdata">
                    <input type="hidden" name="activity_id" class="activity_id" value="{{$ctrl.activity.id}}" ng-model="$ctrl.activity_id">
                    <input type="hidden" name="for_differ_km" class="for_differ_km" value='1' ng-model="$ctrl.for_differ_km">
                    <input type="hidden" name="for_differ_other" class="for_differ_other" value='0' ng-model="$ctrl.for_differ_other">
                    <input type="hidden" name="range_limit" class="service_range_limit" value="<%$ctrl.range_limit%>" ng-model="$ctrl.range_limit">
                    <input type="hidden" name="for_update_deferred" value="<%$ctrl.for_deffer_activity%>" ng-model="$ctrl.for_deffer_activity">
                    <input type="hidden" name="modal" value="no">
                    <input type="hidden" name="data_reentry" value="0">
                    <input type='hidden' name='vehiclePickupAttachRemovelIds' id="vehiclePickupAttachRemovelIds" value="">
                    <input type='hidden' name='vehicleDropAttachRemovelIds' id="vehicleDropAttachRemovelIds" value="">
                    <input type='hidden' name='inventoryJobSheetAttachRemovelIds' id="inventoryJobSheetAttachRemovelIds" value="">
                    <!-- Defer ticket update hidden values-->
                    <div class="defer_hidden"></div>
                    <div class="alert alert-danger" style="display: none;"></div>
                    <div class="customTab-content">
                        <div class="customForm-wrapper">
                            <div class="row">
                                <input type="hidden" class="actual_km" value="<%$ctrl.actual_km%>">
                                <input type="hidden" class="unpaid_amount" value="<%$ctrl.unpaid_amount%>">
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>KM Travelled <span class="mandatory">*</span></label>
                                        <input type="number" name="km_travelled" class="km_travel form-control customForm-input" ng-model="$ctrl.km_travelled" autocomplete='off' placeholder="Enter KM Travelled" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label> Border Charges (Not Collected) <span class="mandatory">*</span></label>
                                        <input type="text" class="form-control customForm-input other_charges_total" name="border_charge" ng-model="$ctrl.border_charge" autocomplete='off' placeholder="Enter Border Charges" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-change="calculateOtherCharges()">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Green Tax Charges (Not Collected) <span class="mandatory">*</span></label>
                                        <input type="text" class="form-control customForm-input other_charges_total" name="green_tax_charge" ng-model="$ctrl.green_tax_charge" autocomplete='off' placeholder="Enter Green Tax Charges" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-change="calculateOtherCharges()">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Toll Charges (Not Collected) <span class="mandatory">*</span></label>
                                        <input type="text" class="form-control customForm-input other_charges_total" name="toll_charge" ng-model="$ctrl.toll_charge" autocomplete='off' placeholder="Enter Toll Charges" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-change="calculateOtherCharges()">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Eatable Item Charges (Not Collected) <span class="mandatory">*</span></label>
                                        <input type="text" class="form-control customForm-input other_charges_total" name="eatable_item_charge" ng-model="$ctrl.eatable_item_charge" autocomplete='off' placeholder="Enter Eatable Item Charges" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-change="calculateOtherCharges()">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Fuel Charges (Not Collected) <span class="mandatory">*</span></label>
                                        <input type="text" class="form-control customForm-input other_charges_total" name="fuel_charge" ng-model="$ctrl.fuel_charge" autocomplete='off' placeholder="Enter Fuel Charges" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" ng-change="calculateOtherCharges()">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Other Charges (Not Collected)<span class="mandatory">*</span></label>
                                        <input type="text" class="form-control customForm-input other_charge" name="other_charge" id="other_charge" ng-model="$ctrl.other_charge" autocomplete='off' style="background-color: rgb(222, 222, 222);" readonly>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Collected Amount from Customer <span class="mandatory">*</span></label>
                                        <input type="number" class="form-control asp_collected_charges customForm-input" name="asp_collected_charges" autocomplete='off' ng-model="$ctrl.asp_collected_charges" placeholder="Enter Collected Amount" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Waiting Time (In Mins)</label>
                                        <input type="text" class="form-control customForm-input" name="waiting_time" id="waiting_time" pattern="[0-9]*" ng-model="$ctrl.waiting_time" autocomplete='off' placeholder="Enter Waiting Time">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Services <span class="mandatory">*</span></label>
                                        <md-select ng-model="$ctrl.service_type_id" ng-change="getServiceTypeDetail()" placeholder="Select Service">
                                            <md-option ng-repeat="val in $ctrl.service_types_list" value="<% val.id %>">
                                                <% val.name %>
                                            </md-option>
                                        </md-select>
                                        <input type="hidden" name="asp_service_type_id" value="<% $ctrl.service_type_id %>" class="required">
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3 remarks_notcollected" style="display: none;">
                                    <div class="input-text form-group">
                                        <label>Remarks for Charges Not Collected <sup class="req" style="color:red">*</sup></label>
                                        <textarea class="form-control remarks_not_collected" rows="1" name="remarks_not_collected" ng-model="$ctrl.remarks_not_collected" autocomplete='off' placeholder="Enter Remarks for Charges Not Collected"></textarea>
                                    </div><!-- Field -->
                                </div>
                                <div class="col-sm-3 other_attachment" style="display: none;">
                                    <div class="input-text form-group">
                                        <label>Other Attachment <sup class="req" style="color:red">*</sup></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" readonly placeholder="Select File">
                                            <span class="input-group-btn">
                                                <span class="btn btn-file">
                                                    Browse
                                                    <input name="other_attachment[]" type="file" multiple="multiple" class="form-control other_attachment_data" autocomplete='off' ng-model="$ctrl.other_attachment" />
                                                </span>
                                            </span>
                                        </div>
                                        <div class="other_after"></div>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3 map_attachment" style="display: none;">
                                    <div class="input-text form-group">
                                        <label>Map Attachment<sup class="req" style="color:red">*</sup></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" readonly placeholder="Select File">
                                            <span class="input-group-btn">
                                                <span class="btn btn-file">
                                                    Browse
                                                    <input name="map_attachment[]" type="file" multiple="multiple" class="form-control map_attachment_data" autocomplete='off' ng-model="$ctrl.map_attachment" />
                                                </span>
                                            </span>
                                        </div>
                                    </div><!-- Field -->
                                    <div class="map_after"></div>
                                    <a href="https://www.google.com/maps" class="blue" target="_blank">GO TO GOOGLE MAP</a>
                                </div><!-- Column -->
                                <div class="col-sm-3 resolve_comment" style="display:none;">
                                    <div class="input-text form-group">
                                        <label>Resolve Comments</label>
                                        <textarea name="comments" class="comments form-control" autocomplete='off' ng-model="$ctrl.comments" placeholder="Enter Resolve Comments"></textarea>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>General Remarks </label>
                                        <textarea class="form-control" rows="3" name="general_remarks" ng-model="$ctrl.general_remarks" autocomplete='off' placeholder="Enter General Remarks"></textarea>
                                    </div><!-- Field -->
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Breakdown Location</label>
                                        <textarea type="textarea" class="form-control" rows="3" ng-model="$ctrl.bd_location" disabled autocomplete='off'></textarea>
                                    </div><!-- Field -->
                                </div>
                                <!--  <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Drop Dealer</label>
                                        <textarea type="textarea" class="form-control" rows="3" ng-model="$ctrl.dropDealer" disabled autocomplete='off'></textarea>
                                    </div>!-- Field --
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Drop Location</label>
                                        <textarea type="textarea" class="form-control" rows="3" ng-model="$ctrl.dropLocation" disabled autocomplete='off'></textarea>
                                    </div>!-- Field --
                                </div> -->
                            </div>
                            <div class="row" ng-show="$ctrl.showTowingAttachment">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="dataTable--left_wrapper">
                                        <h2 class="dataTable-title customForm-title">Towing Attachments</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="$ctrl.showTowingAttachment">
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Vehicle Pickup Image<sup ng-if="$ctrl.activity.is_towing_attachments_mandatory && $ctrl.activity.finance_status.po_eligibility_type_id == 340" class="req" style="color:red">*</sup></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" readonly placeholder="Select File">
                                            <span class="input-group-btn">
                                                <span class="btn btn-file">
                                                    Browse
                                                    <input name="vehicle_pickup_attachment" type="file" class="form-control" autocomplete='off' />
                                                </span>
                                            </span>
                                        </div>
                                        <a style="cursor: pointer;text-decoration: underline!important;margin-top: 4px;display: inline-block;" data-toggle="modal" data-target="#towing-attachment-sample-photo-label" ng-click="$ctrl.towingAttachmentSamplePhoto = 1">Sample Photo</a>
                                        <div style="margin-top: 5px;display: flex;flex-wrap: nowrap;">
                                            <img class="img-responsive" src="resources/assets/images/info_icon_red.svg" style="align-self: flex-start;">
                                            <span style="color:#333332;padding-left: 4px;">View of customer vehicle number plate with vehicle towing mode is mandatory. {{$ctrl.towingAttachmentsMandatoryLabel}}</span>
                                        </div>
                                        <div ng-if="$ctrl.vehiclePickupAttach">
                                            {{ $ctrl.vehiclePickupAttach.attachment_file_name }}
                                            <button class='close_other' id="{{$ctrl.vehiclePickupAttach.id}}" type='button' ng-click="$ctrl.closeVehiclePickupAttach(index, $ctrl.vehiclePickupAttach.id)">X</button>
                                            <input type="hidden" name="vehiclePickupAttachExist" value="1">
                                        </div>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Vehicle Drop Image<sup ng-if="$ctrl.activity.is_towing_attachments_mandatory && $ctrl.activity.finance_status.po_eligibility_type_id == 340" class="req" style="color:red">*</sup></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" readonly placeholder="Select File">
                                            <span class="input-group-btn">
                                                <span class="btn btn-file">
                                                    Browse
                                                    <input name="vehicle_drop_attachment" type="file" class="form-control" autocomplete='off' />
                                                </span>
                                            </span>
                                        </div>
                                        <a style="cursor: pointer;text-decoration: underline!important;margin-top: 4px;display: inline-block;" data-toggle="modal" data-target="#towing-attachment-sample-photo-label" ng-click="$ctrl.towingAttachmentSamplePhoto = 2">Sample Photo</a>
                                        <div style="margin-top: 5px;display: flex;flex-wrap: nowrap;">
                                            <img class="img-responsive" src="resources/assets/images/info_icon_red.svg" style="align-self: flex-start;">
                                            <span style="color:#333332;padding-left: 4px;">View of Dealer workshop with customer vehicle is mandatory. {{$ctrl.towingAttachmentsMandatoryLabel}}</span>
                                        </div>
                                        <div ng-if="$ctrl.vehicleDropAttach">
                                            {{ $ctrl.vehicleDropAttach.attachment_file_name }}
                                            <button class='close_other' id="{{$ctrl.vehicleDropAttach.id}}" type='button' ng-click="$ctrl.closeVehicleDropAttach(index, $ctrl.vehicleDropAttach.id)">X</button>
                                            <input type="hidden" name="vehicleDropAttachExist" value="1">
                                        </div>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                                <div class="col-sm-3">
                                    <div class="input-text form-group">
                                        <label>Inventory Job Sheet Image<sup ng-if="$ctrl.activity.is_towing_attachments_mandatory && $ctrl.activity.finance_status.po_eligibility_type_id == 340" class="req" style="color:red">*</sup></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" readonly placeholder="Select File">
                                            <span class="input-group-btn">
                                                <span class="btn btn-file">
                                                    Browse
                                                    <input name="inventory_job_sheet_attachment" type="file" class="form-control" autocomplete='off' />
                                                </span>
                                            </span>
                                        </div>
                                        <a style="cursor: pointer;text-decoration: underline!important;margin-top: 4px;display: inline-block;" data-toggle="modal" data-target="#towing-attachment-sample-photo-label" ng-click="$ctrl.towingAttachmentSamplePhoto = 3">Sample Photo</a>
                                        <div style="margin-top: 5px;display: flex;flex-wrap: nowrap;">
                                            <img class="img-responsive" src="resources/assets/images/info_icon_red.svg" style="align-self: flex-start;">
                                            <span style="color:#333332;padding-left: 4px;">Dealer seal is mandatory. {{$ctrl.towingAttachmentsMandatoryLabel}}</span>
                                        </div>
                                        <div ng-if="$ctrl.inventoryJobSheetAttach">
                                            {{ $ctrl.inventoryJobSheetAttach.attachment_file_name }}
                                            <button class='close_other' id="{{$ctrl.inventoryJobSheetAttach.id}}" type='button' ng-click="$ctrl.closeInventoryJobSheetAttach(index, $ctrl.inventoryJobSheetAttach.id)">X</button>
                                            <input type="hidden" name="inventoryJobSheetAttachExist" value="1">
                                        </div>
                                    </div><!-- Field -->
                                </div><!-- Column -->
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary customForm-btn" id="submit">Submit</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <!-- Button Loader Starts -->
                                    <div class="loader-type-2 loader-hide">
                                        <div class="loader-inner"></div>
                                    </div>
                                    <!-- Button Loader Ends -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade asp_for_find" id="towing-attachment-sample-photo-label" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img class="img-responsive close_btn" src="resources/assets/images/close-button-small.svg">
                </a>
                <h4 class="modal-title">Sample Photo</h4>
                <div style="margin-top: 2px;">
                    <img class="img-responsive" src="resources/assets/images/info_icon_red.svg" style="display: inline-block;vertical-align: middle;">
                    <span style="color:#333332;display: inline-block;vertical-align: middle;">You need to upload the image clearly like below</span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img ng-if="$ctrl.towingAttachmentSamplePhoto == 1" class="img-responsive" src="resources/assets/images/modal/vehicle-pickup-sample.png" style="height: 450px;margin: auto;">
                        <img ng-if="$ctrl.towingAttachmentSamplePhoto == 2" class="img-responsive" src="resources/assets/images/modal/vehicle-drop-sample.png" style="height: 450px;margin: auto;">
                        <img ng-if="$ctrl.towingAttachmentSamplePhoto == 3" class="img-responsive" src="resources/assets/images/modal/inventory-job-sheet-sample.png" style="height: 450px;margin: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>