<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#">ASP Activities</a></li>
            <li><a href="#">Verification</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable--left_wrapper">
                        <h2 class="dataTable-title">Verification</h2>
                        <p>Total - <span class="orange-txt"><span class="count">0</span></span></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="dataTable-top--right_wrapper">
                        <ul class="dataTable-top--right_group list-inline">
                            <li><input class="filterTable" type="text" placeholder="Search"></li>
                            <li><a href="javascript:void(0)" class="btn btn-md" ng-click="refresh()">Refresh</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="activities_verification_table" class="display table dataTable">
                    <thead>
                        <tr>
                            <th>Actions</th>
                            <th>Date</th>
                            <th>Case Number</th>
                            <th>ASP Code</th>
                            <th>Service</th>
                            <th>ASP Status</th>
                            <th>Status</th>
                            <th>Activity Status</th>
                            <th>Client</th>
                            <th>Call Center</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>