<div class="col-xs-12 col-sm-12">
    <div class="mobile-breadcrumbs-wrapper">
        <ul class="mobile-breadcrumbs-group list-inline">
            <li><a href="#!<% $ctrl.laravel_routes['/'] %>">Home</a></li>
            <li><a href="#!/rsa-case-pkg/approved-activity/list">Approved Activities</a></li>
            <li><a href="#!">Invoice</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid dataTable-content--wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <form id="invoice-create-form" enctype="multipart/form-data">
                <input type="hidden" name="invoice_amount" value="{{$ctrl.invoice_amount}}">
                <input type="hidden" name="asp_id" value="{{$ctrl.asp.id}}">
                <div class="tab-content">
                    <div id="bill" class="tab-pane fade in active">
                        <div class="viewData-wrapper">
                            <div class="viewData-accordion">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="dataTable--left_wrapper">
                                            <h2 class="dataTable-title">Invoice</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div id="bill" class="tab-pane fade in active">
                                        <div class="viewData-wrapper">
                                            <div class="viewData-toggle--wrapper">
                                                <div class="viewData-toggle--inner">
                                                    <h2 class="viewData-toggle--title pull-left">
                                                        {{$ctrl.asp.name ? $ctrl.asp.name : 'N/A'}}
                                                    </h2>
                                                    <span class="viewData-toggle--btn pull-right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                                    <div class="clearfix"></div>
                                                    <ul>
                                                        <li>ASP Code : <span>{{$ctrl.asp.asp_code ? $ctrl.asp.asp_code : 'N/A'}}</span></li>
                                                        <li ng-if="$ctrl.asp.asp_code != 'NULL'">ASP Type :
                                                            <span>
                                                                {{$ctrl.asp.is_self ? 'Self' : 'Non Self'}}
                                                            </span>
                                                        </li>
                                                        <li ng-if="$ctrl.asp.asp_code != 'NULL'">ASP has GST :
                                                            <span>
                                                                {{$ctrl.asp.has_gst ? 'Yes' : 'No'}}
                                                            </span>
                                                        </li>
                                                        <li ng-if="$ctrl.asp.is_self && $ctrl.asp.has_gst">Auto Invoice :
                                                            <span>
                                                                {{$ctrl.asp.is_auto_invoice ? 'Yes' : 'No'}}
                                                            </span>
                                                        </li>
                                                        <li>Tier :
                                                            <span>
                                                                {{$ctrl.asp.tier ? $ctrl.asp.tier : 'N/A'}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                    <div class="viewData-threeColumn--wrapper">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-4">
                                                                <ul class="viewData-threeColumn--group">
                                                                    <li><img src="./resources/assets/images/ic-location.svg"></li>
                                                                    <li>
                                                                        <p>
                                                                            {{$ctrl.asp.workshop_name ? $ctrl.asp.workshop_name : 'N/A'}} <br>
                                                                            {{$ctrl.asp.address_line_1 ? $ctrl.asp.address_line_1 : 'N/A'}}<br>
                                                                            {{$ctrl.asp.address_line_2 ? $ctrl.asp.address_line_2 : 'N/A'}}<br>
                                                                        </p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-4">
                                                                <ul class="viewData-threeColumn--group">
                                                                    <li><img src="./resources/assets/images/ic-phone.svg"></li>
                                                                    <li>
                                                                        <p>{{$ctrl.asp.contact_number1 ? $ctrl.asp.contact_number1 : 'N/A'}}<br><a href="javascript:;">{{$ctrl.asp.email ? $ctrl.asp.email : 'N/A'}}</a></p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-4">
                                                                <ul class="viewData-threeColumn--group">
                                                                    <li><img src="./resources/assets/images/ic-profile.svg"></li>
                                                                    <li>
                                                                        <p>RM: {{$ctrl.asp.rm ? ($ctrl.asp.rm.name ? $ctrl.asp.rm.name : 'N/A') : 'N/A'}}<br> RM Mobile: {{$ctrl.asp.rm ? ($ctrl.asp.rm.contact_number ? $ctrl.asp.rm.contact_number : 'N/A') : 'N/A'}} </p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div id="bill" class="tab-pane fade in active">
                                        <div class="viewData-wrapper">
                                            <div class="viewData-toggle--wrapper">
                                                <label class="title-label">Invoice Details</label>
                                                <div class="noToggle--inner">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aai-head-left">
                                                            <div class="aai-head-left-title">Invoice</div>
                                                            <div class="aai-head-left-address">
                                                                <p>
                                                                    TVS Auto Assist (India) Limited<br />9th Floor, Kochar Bliss,<br />Plot No. Super A8 & 9,<br />Thiru-Vi-Ka Industrial Estate,<br />Guindy,<br />Chennai – 600032<br />TVS AUTO ASSIST (INDIA) LIMITED<br /> GST- 33AANCA3184D1ZV
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aai-head-right">
                                                            <div class="aai-head-right1">
                                                                <table style="width:100%">
                                                                    <tr>
                                                                        <td class="text-right">Invoice Generation :</td>
                                                                        <td ng-show="$ctrl.asp.has_gst && !$ctrl.asp.is_auto_invoice"><span>Self</span>
                                                                        </td>
                                                                        <td ng-show='(!$ctrl.asp.has_gst) || ($ctrl.asp.has_gst && $ctrl.asp.is_auto_invoice)"'><span>System</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-if="(!$ctrl.asp.has_gst) || ($ctrl.asp.has_gst && $ctrl.asp.is_auto_invoice)">
                                                                        <td class="text-right">Invoice No :</td>
                                                                        <td><span>{{$ctrl.inv_no}}</span>
                                                                            <input type="hidden" name="invoice_no" value="{{$ctrl.inv_no}}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-if="(!$ctrl.asp.has_gst) || ($ctrl.asp.has_gst && $ctrl.asp.is_auto_invoice)">
                                                                        <td class="text-right">Invoice Date :</td>
                                                                        <td>
                                                                            <span>{{$ctrl.inv_date}}</span>
                                                                            <input type="hidden" name="inv_date" value="{{$ctrl.inv_date}}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-if="$ctrl.asp.has_gst && !$ctrl.asp.is_auto_invoice">
                                                                        <td class="text-right">Invoice No :</td>
                                                                        <td style="padding-left: 15px;">
                                                                            <input id="invoice_no" class="form-control filter-input" type="text" name="invoice_no" placeholder="Enter Invoice Number" autocomplete="off">
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-if="$ctrl.asp.has_gst && !$ctrl.asp.is_auto_invoice">
                                                                        <td class="text-right">Invoice Date :</td>
                                                                        <td style="padding-left: 15px;">
                                                                            <input id="ticket_date" class="form-control filter-input date-picker" type="text" name="inv_date" placeholder="Select Date" autocomplete="off" readonly>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right">GST Registration Number :</td>
                                                                        <td><span>
                                                                                {{$ctrl.asp.gst_registration_number ? $ctrl.asp.gst_registration_number : 'N/A'}}
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-right">PAN Number :</td>
                                                                        <td>
                                                                            <span>
                                                                                {{$ctrl.asp.pan_number ? $ctrl.asp.pan_number : 'N/A'}}
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row viewData-identification--wrapper">
                                                        <div class="viewData-form--wrapper">
                                                            <div id="about40" class="tab-pane fade in active">
                                                                <p class="p-l-20">
                                                                </p>
                                                                <div class="table-responsive">
                                                                    <table id="invoice-preview-table" class="display table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Case Number</th>
                                                                                <th>Case Date</th>
                                                                                <!-- <th>Vehicle Registration Number</th> -->
                                                                                <th>Service Type</th>
                                                                                <th>KM</th>
                                                                                <th class="text-right">KM Charge</th>
                                                                                <th class="text-right">Collected Amount</th>
                                                                                <th ng-if="$ctrl.asp.tax_calculation_method" class="text-right">Not Collected Amount</th>
                                                                                <th class="text-right">Net Amount</th>
                                                                                <th class="text-right">Tax %</th>
                                                                                <th class="text-right">Tax Amount</th>
                                                                                <th ng-if="!$ctrl.asp.tax_calculation_method" class="text-right">Not Collected Amount</th>
                                                                                <th class="text-right">Invoice Amount</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr ng-repeat="(index, activity) in $ctrl.activities">
                                                                                <input type="hidden" name="crm_activity_ids[{{index}}]" value="{{activity.crm_activity_id}}">
                                                                                <td>
                                                                                    {{activity.number}}
                                                                                </td>
                                                                                <td>
                                                                                    {{activity.date}}
                                                                                </td>
                                                                                <!-- <td>
                                                                                    {{activity.vehicle_registration_number}}
                                                                                </td> -->
                                                                                <td>
                                                                                    {{activity.service_type}}
                                                                                </td>
                                                                                <td>
                                                                                    {{activity.km_value | number : 2}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{activity.km_charge_value | number : 2}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{activity.collect_value | number : 2}}
                                                                                </td>
                                                                                <td ng-if="$ctrl.asp.tax_calculation_method" class="text-right">
                                                                                    {{activity.not_collect_value | number : 2}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{activity.net_value | number : 2}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{activity.total_tax_perc_value | number : 2}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{activity.total_tax_amount_value | number : 2}}
                                                                                </td>
                                                                                <td ng-if="!$ctrl.asp.tax_calculation_method" class="text-right">
                                                                                    {{activity.not_collect_value | number : 2}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{activity.total_value | number : 2}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div><!-- Responsive -->
                                                                <div class="amountinwords">{{$ctrl.invoice_amount_in_word}} only</div>
                                                                <div class="netamount pull-right">
                                                                    <span>Net Amount</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <span class="amount">
                                                                        <i class="fa fa-inr" aria-hidden="true"></i> {{$ctrl.invoice_amount}}
                                                                    </span>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                                <div class="aai_footer">
                                                                    <p class=" pull-left"> Bank Details:<br />
                                                                        Name : {{$ctrl.asp.workshop_name ? $ctrl.asp.workshop_name : 'N/A'}} | Account Number : {{$ctrl.asp.bank_account_number ? $ctrl.asp.bank_account_number : 'N/A'}} | Bank : {{$ctrl.asp.bank_name ? $ctrl.asp.bank_name : 'N/A'}} | Branch : {{$ctrl.asp.bank_branch_name ? $ctrl.asp.bank_branch_name : 'N/A'}} | IFSC : {{$ctrl.asp.bank_ifsc_code ? $ctrl.asp.bank_ifsc_code : 'N/A'}}
                                                                    </p>
                                                                    <p ng-show="$ctrl.signature_attachment != ''" class="pull-right"><img src="{{$ctrl.signature_attachment_path}}/{{$ctrl.asp.id}}/{{$ctrl.signature_attachment.attachment_file_name}}" weight="80px" height="50px" align="right"></p>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-20">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="input-text form-group">
                                            <label>Upload Attachment</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" readonly placeholder="Select File">
                                                <span class="errorfile">This File is Required</span>
                                                <span class="input-group-btn">
                                                    <span class="btn btn-file">
                                                        Browse
                                                        <input name="filename" type="file" class="form-control" autocomplete='off' />
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="other_after"></div>
                                        </div><!-- Field -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="approve-btn pull-right preview-batch" id="submit">Submit</button>
            </form>
        </div>
    </div>
</div>